<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template employer-page" id="page-fat-training-provider" data-id="{{ id }}" data-providerId="{{ providerId }}" data-page-id="5">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap fat-search">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/_em-FAT-5E-hero-heading.html' %}

               {% include '../components/confirmation/_shopping-basket.html' %}

               <main id="main-content" class="main-content page-app-5-FAT employer">

                    <div class="grid-row"  id="flex-direction-change">
                         <div class="grid-column-two-thirds">

                              <div class="page">

                                   <h2 class="heading-l no-top-margin">Training information</h2>

                                   <dl class="data-list">
                                        <dt>Apprenticeship:</dt>
                                        <dd class="fat-search-keyword">Business Administrator</dd>

                                        <dt>Level: </dt>
                                        <dd>3 (equivalent to A levels at grades A to E)</dd>

                                        <dt class="training-structure">Training options:</dt>
                                        <dd id="delivery-modes" class="icon-alerts">

                                             <ul class="list list--bullet list--bullet-employer">
                                                  <li class="day-release-absent icon-right">
                                                       <span class="icon-content">day release</span>
                                                       <span class="feedback no"></span>
                                                  </li>
                                                  <li class="block-release-absent icon-right">
                                                       <span class="icon-content">block release</span>
                                                       <span class="feedback no"></span>
                                                  </li>
                                                  <li class="hundred-percent-employer icon-right">
                                                       <span class="icon-content">at your location</span>
                                                       <span class="feedback yes"></span>
                                                  </li>
                                             </ul>

                                             <details>
                                                  <summary><span class="summary">Explain training options</span></summary>
                                                  <div class="panel panel-border-narrow">
                                                       <p>
                                                            <strong>Day release:</strong> for example one day a week at the training provider's location.
                                                       </p>
                                                       <p>
                                                            <strong>Block release:</strong> for example 3-4 weeks at the training provider's location.
                                                       </p>
                                                       <p>
                                                            <strong>At your location:</strong> the training provider comes to your workplace.
                                                       </p>
                                                  </div>
                                             </details>
                                        </dd>


                                        <dt>Achievement rates: </dt>
                                        <dd>
                                             <div class="rating">
                                                  <span>no data available</span>
                                             </div>
                                        </dd>
                                   </dl>

                                   <h2 class="heading-m">About the apprenticeship:</h2>
                                   <p>
                                        This apprenticeship is about playing an important support role within a business or organisation. We design
                                        and deliver bespoke training, built around the needs of apprentices and employers, including one-to-one support
                                        from an expert assessor, on-site training, an online learning platform, remote support, workshops and more. We
                                        can support you through every step of the process, from recruitment to accessing funding. Whether you are
                                        looking to recruit and train new apprentices or develop the skills of existing staff we can help.
                                   </p>


                                   <h2 class="heading-m">Provider information</h2>
                                   <p>
                                        We provide apprenticeships to meet the needs of your organisation, including in house training, 1:1 support,
                                        workshops, online learning & more. Primarily operating in SE England & London, we have capacity to deliver
                                        training across England. We create unique packages of support built around the needs of staff & aligned to
                                        your workforce vision. Our training is suitable for new & existing staff ranging from L2-5, supporting career
                                        progression & addressing skills gaps. Our free recruitment support & flexible sign up dates mean we can work
                                        at your pace. We care passionately about our clients & our apprentices, offering the services required to
                                        build a highly skills, flexible & motivated workforce for the future.
                                   </p>

                                   <p class="national-message">
                                        <span class="national">National</span> This training provider is willing to offer apprenticeship training across England.
                                   </p>


                                   <h2 class="heading-m">What employers are saying</h2>
                                   <p>Based on <strong>35 reviews from employers</strong> that work with this training provider.</p>
                                   <p><a href="#">Find out how these reviews work</a></p>

                                   <h2 class="heading-s">Overall rating from October 2018 to now</h2>
                                   <div class="rating reviews">
                                        <p>Excellent</p>
                                        <div class="progress-container">
                                             <div class="progressbar excellent" style="width: 30%"></div>
                                        </div>
                                        <p class="number"><strong>10 reviews <span class="visually-hidden">out of 35</span></strong></p>
                                   </div>
                                   <div class="rating reviews">
                                        <p>Good</p>
                                        <div class="progress-container">
                                             <div class="progressbar good" style="width: 70%"></div>
                                        </div>
                                        <p class="number"><strong>23 reviews <span class="visually-hidden">out of 35</span></strong></p>
                                   </div>
                                   <div class="rating reviews">
                                        <p>Poor</p>
                                        <div class="progress-container">
                                             <div class="progressbar poor" style="width: 7.5%"></div>
                                        </div>
                                        <p class="number"><strong>2 reviews <span class="visually-hidden">out of 35</span></strong></p>
                                   </div>
                                   <div class="rating reviews">
                                        <p>Very poor</p>
                                        <div class="progress-container">
                                             <div class="progressbar very-poor" style="width: 0%"></div>
                                        </div>
                                        <p class="number"><strong>0 reviews</strong> <span class="visually-hidden">out of 35</span></p>
                                   </div>

                                   <div class="grid-row">
                                        <div class="grid-column-one-half">
                                             <h3 class="heading-s">Strengths</h3>
                                             <ul class="list list--bullet list--bullet-employer">
                                                  <li>Getting new apprentices started <strong>(18)</strong></li>
                                                  <li>Communication with employers <strong>(16)</strong></li>
                                                  <li>Adapting to my needs <strong>(13)</strong></li>
                                                  <li>Working with small numbers of apprentices <strong>(13)</strong></li>
                                                  <li>Initial assessment of apprentices <strong>(9)</strong></li>
                                                  <li>Providing the right training at the right time <strong>(8)</strong></li>
                                                  <li>Improving apprentice skills <strong>(7)</strong></li>
                                                  <li>Reporting on progress of apprentices <strong>(5)</strong></li>
                                             </ul>
                                        </div>
                                        <div class="grid-column-one-half">
                                             <h3 class="heading-s">Things to improve</h3>
                                             <ul class="list list--bullet list--bullet-employer ">
                                                  <li>Reporting on progress of apprentices <strong>(14)</strong></li>
                                                  <li>Communication with employers <strong>(7)</strong></li>
                                                  <li>Adapting to my needs <strong>(3)</strong></li>
                                                  <li>Initial assessment of apprentices <strong>(3)</strong></li>
                                                  <li>Getting new apprentices started <strong>(2)</strong></li>
                                                  <li>Improving apprentice skills <strong>(2)</strong></li>
                                                  <li>Providing the right training at the right time <strong>(1)</strong></li>
                                                  <li>Training facilities <strong>(1)</strong></li>
                                             </ul>
                                        </div>
                                   </div>

                                   <dl class="data-list">
                                        <dt>Employer satisfaction:</dt>
                                        <dd>
                                             <p>no data available</p>
                                        </dd>
                                        <dt>Learner satisfaction:</dt>
                                        <dd>
                                             <p>no data available</p>
                                        </dd>
                                        <dt class="legal-name-title">Legal name:</dt>
                                        <dd id="legal-name" class="legal-name fat-training-provider-title">GINGER NUT MEDIA LIMITED</dd>
                                   </dl>

                                   <p class="content-source">Content maintained by <span class="fat-training-provider-title">GINGER NUT MEDIA LIMITED</span></p>

                                   <h2 class="heading-s">Content disclaimer</h2>
                                   <p>
                                        Education and Skills Funding Agency cannot guarantee the accuracy of
                                        course information on this site and makes no representations about
                                        the quality of any courses which appear on the site. Education and Skills
                                        Funding Agency is not liable for any losses suffered as a result of any party
                                        relying on the course information provided.
                                   </p>

                                   <!-- <div class="cta-row save-and-compare">
                                        <div class="form-group radios">
                                             <div class="checkboxes__item save-label">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="save-1" name="save-1">
                                                  <label class="label checkboxes__label" for="save-1">Favourite</label>
                                             </div>
                                        </div>
                                   </div> -->

                              </div>

                              <div class="cta-row">
                                   <p class="lead-paragraph">
                                        Like what you see? Add this training provider to your list of favourites.
                                   </p>
                                   <div class="form-group radios">
                                        <div class="checkboxes__item save-label">
                                             <input class="checkboxes__input checkbox-save-provider" type="checkbox" value="true" id="save-{{ providerId }}" name="save-{{ providerId }}">
                                             <label class="label checkboxes__label" for="save-{{ providerId }}">Add to favourites</label>
                                        </div>
                                   </div>
                              </div>

                         </div>

                         <div class="grid-column-one-third">

                              <div class="sidebar sidebar--employer FAT-basket">
                                   <div class="shopping-basket">
                                        {% include '../components/faa-fat/_fat-training-provider-details-5E.html' %}
                                   </div>
                              </div>
                              <div class="anchor-wrapper">
                                   <a href="#" id="back-to-top"><span></span>Back to the top</a>
                              </div>

                         </div>
                    </div>

               </main>

               <!-- ///////////////////// BASKET ALERT COMPONENT - START ///////////////////// -->
               {% include '../components/confirmation/_basket-confirmation.html'%}
               <!-- ///////////////////// BASKET ALERT COMPONENT - END ///////////////////// -->

               {% include '../components/footer/_footer-employer.html'%}

          </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     </body>

</html>
