<div class="hero FAT-basket">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&#60; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Your favourite apprenticeships and training providers</h1>
               </div>

               <div class="text-wrapper">
                    <div><p class="lead-paragraph"><span class="apprenticeship-number number">0</span> Apprenticeships</p></div>
                    <span class="separator"></span>
                    <div><p class="lead-paragraph"><span class="provider-number number">0</span> Training provider(s)</p></div>
                    <!-- <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a> -->
               </div>
          </div>
     </div>
</div>
