<div class="hero FAT-basket FAT-save-standard">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&#60; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">Save your apprenticeship and training provider</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Are you sure you wish to save this standard and carry on to gov.uk to create your gov.uk accout
                         to hire an apprentice?
                    </p>
                    <div class="cta-row">

                         <div class="form-group">
                              <div class="checkboxes__item">
                                   <input class="checkboxes__input" type="checkbox" value="true" id="share-details" name="share-details">
                                   <label class="label checkboxes__label" for="share-details">
                                        I would like to share my details with Training Providers so they can contact me and help me to find the perfect apprenticeship for my business.
                                   </label>
                              </div>
                         </div>

                         <a id="save-this-standard" href="#" class="button button--shadow button--sparks">Yes, save this standard</a>
                         <p class="lead-paragraph secondary-cta"><a href="javascript:history.back()" class="">Cancel</a></p>
                    </div>
               </div>
          </div>
          <div class="grid-column-one-half">
               <div class="gov-uk-image-wrapper">
                    <img class="gov-uk-image" src="/dist/campaign/images/fat-screen-shot.png">
               </div>
          </div>
     </div>
</div>
