<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/employer/1-how-much-is-it-going-to-cost">Employer</a>
                         <div class="sep">></div>
                         <a href="/campaign/employer/2-the-right-apprenticeship">The right apprenticeship</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">The right apprenticeship</h1>
               </div>

               <ul class="list list--arrows">
                    <li><a href="#heading1" class="hero__link scroll" data-offset="100">Which apprenticeship is right for my business?</a></li>
                    <li><a href="#heading2" class="hero__link scroll" data-offset="100">Find the right apprenticeship</a></li>
                    <li><a href="#heading3" class="hero__link scroll" data-offset="100">I want to find an apprentice for my business</a></li>
                    <li><a href="#heading4" class="hero__link scroll" data-offset="100">Types of apprenticeships</a></li>
               </ul>
               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
