<section class="faa-fat-link-block cta-fat search-page">
     <div class="cta-fat__content">
          <h1 class="heading-m cta-fat__heading no-bottom-margin">WANT TO START A CONVERSATION WITH YOUR FAVOURITE TRAINING PROVIDERS?</h1>
          <p class="no-top-margin">Share your details so we can ask them to contact you.</p>
          <a class="button button--sparks button--shadow __web-inspector-hide-shortcut__" href="/campaign/FAT/save-this-standard">SHARE MY DETAILS</a>
          <form method="post" action="https://esfa-shopping-basket.herokuapp.com/sprint-17/V7/index">
               <div class="pass-form-data"></div>
               <input type="submit" class="create-account" value="Create an Apprenticeship Service account" />
          </form>
          <a href="/campaign/register/email-me" class="email-me">Email me my favourites for later</a>
     </div>
     <div class="cta-fat__action">
          <img class="fat-map no-js" src="/dist/campaign/images/fat-screen-shot.jpg">
     </div>
</section>
