<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat provider-details">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-l cta-fat__heading">Contact details</h2>
               </div>
               <div class="cta-fat__action">

                    <dl>
                         <dt class="apprenticeshipContactTitle">Website:</dt>
                         <dd>
                              <a href="https://www.babcockinternational.com/What-We-Do/Land/Training/Apprenticeships" rel="external" target="_blank" class="course-link apprenticeshipContact fat-training-provider-title external">
                                   Babcock Training website
                              </a>
                         </dd>

                         <dt class="phone-title">Phone number:</dt>
                         <dd id="phone" class="phone">0800 731 8199</dd>

                         <dt class="email-title">Email:</dt>
                         <dd id="email" class="email">
                              <a href="mailto:training@babcockinternational.com">training@babcockinternational.com</a>
                         </dd>

                         <dt class="providerContactTitle">Contact page:</dt>
                         <dd>
                              <a href="https://www.babcockinternational.com/What-We-Do/Land/Training/Apprenticeships" rel="external" target="_blank" class="contact-link providerContact external">
                                   contact this training provider
                              </a>
                         </dd>

                         <dt class="training-location-title">Address:</dt>
                         <dd id="training-location" class="training-location">
                              Warwick and surrounding area, <strong class="fat-search-location">CV32 5HZ</strong>
                         </dd>

                    </dl>

               </div>
          </div>
     </section>

</div>
