<section class="faa-fat-link-block cta-fat">
     <div class="content-wrapper">
          <div class="cta-fat__content">
               <h2 class="heading-l cta-faa__heading" id="heading2">The right apprenticeship</h2>

               <p>For employers looking to take on apprentices.</p>

               <p>Use this search to:</p>

               <ul class="list list--bullet list--bullet-employer">
                    <li>look for apprenticeship training by job role or keyword</li>
                    <li>find training providers who offer the apprenticeship training you choose</li>
                    <li>save a named training provider you want to use</li>
               </ul>
          </div>
          <div class="cta-fat__action">
               <input type="search" id="fat-search-keyword" placeholder="Apprenticeship name or job role...">
               <a id="link-FAT-search" href="/campaign/FAT/2A-FAT-search-results" class="button button--shadow button--sparks search"><span class="search"></span>Search</a>
               <!-- <a id="link-FAT-Cta" href="/campaign/FAT/1-FAT-search" class="button button--shadow button--sparks"> Search the right apprenticeship</a> -->
          </div>
     </div>
</section>
