<div id="populated-basket">
     <ol id="your-selected-items" class="search-results-list">

          <!-- ================ BASKET ITEM - 1 - START ================ -->
          <li class="basket-item">
               <h2 class="heading-l">
                    <a href="/campaign/FAT/3-FAT-apprenticeship" class="apprenticeship-title">Apprenticeship title 1</a>
                    <a href="#" class="remove">Remove from basket</a>
                    <div class="form-group radios">
                         <div class="checkboxes__item compare-label">
                              <input class="checkboxes__input compare-item compare-apprenticeship-feature" type="checkbox" value="true" id="compare-apprenticeship-1" name="compare-apprenticeship-feature">
                              <label class="label checkboxes__label" for="compare-apprenticeship-1">Compare</label>
                         </div>
                    </div>
               </h2>
               <div class="left-content">
                    <div class="new"><span>new</span></div>
                    <p><strong>Level:</strong> 3 (equivalent to A levels at grades A to E)</p>
                    <p><strong>Typical length:</strong> 18 months</p>
               </div>
               <div class="right-content">
                    <h3 class="heading-s"><span class="saved-icon"></span>Your saved trainging providers</h3>
                    <ul class="training-providers-list">
                         <li>
                              <a href="#" class="trainging-providers-list">Training provider title 1</a>
                              <div class="form-group radios">
                                   <div class="checkboxes__item compare-label">
                                        <input class="checkboxes__input compare-item compare-training-provider-feature" type="checkbox" value="true" id="compare-1" name="compare-training-provider-feature">
                                        <label class="label checkboxes__label" for="compare-1">Compare</label>
                                   </div>
                                   <div class="checkboxes__item save-label">
                                        <a href="#" class="remove remove-training-provider">Remove from basket</a>
                                   </div>
                                   <!-- <div class="checkboxes__item save-label">
                                        <input class="checkboxes__input" type="checkbox" value="true" id="save-1" name="save-1">
                                        <label class="label checkboxes__label" for="save-1">Save</label>
                                   </div> -->
                              </div>
                         </li>
                         <li>
                              <a href="#" class="trainging-providers-list">Training provider title 2</a>
                              <div class="form-group radios">
                                   <div class="checkboxes__item compare-label">
                                        <input class="checkboxes__input compare-item compare-training-provider-feature" type="checkbox" value="true" id="compare-2" name="compare-training-provider-feature">
                                        <label class="label checkboxes__label" for="compare-2">Compare</label>
                                   </div>
                                   <div class="checkboxes__item save-label">
                                        <a href="#" class="remove remove-training-provider">Remove from basket</a>
                                   </div>
                                   <!-- <div class="checkboxes__item save-label">
                                        <input class="checkboxes__input" type="checkbox" value="true" id="save-2" name="save-2">
                                        <label class="label checkboxes__label" for="save-2">Save</label>
                                   </div> -->
                              </div>
                         </li>
                         <li>
                              <a href="#" class="trainging-providers-list">Training provider title 3</a>
                              <div class="form-group radios">
                                   <div class="checkboxes__item compare-label">
                                        <input class="checkboxes__input compare-item compare-training-provider-feature" type="checkbox" value="true" id="compare-3" name="compare-training-provider-feature">
                                        <label class="label checkboxes__label" for="compare-3">Compare</label>
                                   </div>
                                   <div class="checkboxes__item save-label">
                                        <a href="#" class="remove remove-training-provider">Remove from basket</a>
                                   </div>
                                   <!-- <div class="checkboxes__item save-label">
                                        <input class="checkboxes__input" type="checkbox" value="true" id="save-3" name="save-3">
                                        <label class="label checkboxes__label" for="save-3">Save</label>
                                   </div> -->
                              </div>
                         </li>
                         <li>
                              <a href="#" class="trainging-providers-list">Training provider title 4</a>
                              <div class="form-group radios">
                                   <div class="checkboxes__item compare-label">
                                        <input class="checkboxes__input compare-item compare-training-provider-feature" type="checkbox" value="true" id="compare-4" name="compare-training-provider-feature">
                                        <label class="label checkboxes__label" for="compare-4">Compare</label>
                                   </div>
                                   <div class="checkboxes__item save-label">
                                        <a href="#" class="remove remove-training-provider">Remove from basket</a>
                                   </div>
                                   <!-- <div class="checkboxes__item save-label">
                                        <input class="checkboxes__input" type="checkbox" value="true" id="save-4" name="save-4">
                                        <label class="label checkboxes__label" for="save-4">Save</label>
                                   </div> -->
                              </div>
                         </li>
                         <li>
                              <a href="#" class="trainging-providers-list">Training provider title 5</a>
                              <div class="form-group radios">
                                   <div class="checkboxes__item compare-label">
                                        <input class="checkboxes__input compare-item compare-training-provider-feature" type="checkbox" value="true" id="compare-5" name="compare-training-provider-feature">
                                        <label class="label checkboxes__label" for="compare-5">Compare</label>
                                   </div>
                                   <div class="checkboxes__item save-label">
                                        <a href="#" class="remove remove-training-provider">Remove from basket</a>
                                   </div>
                                   <!-- <div class="checkboxes__item save-label">
                                        <input class="checkboxes__input" type="checkbox" value="true" id="save-5" name="save-5">
                                        <label class="label checkboxes__label" for="save-5">Save</label>
                                   </div> -->
                              </div>
                         </li>
                    </ul>
               </div>
          </li>
          <!-- ================ BASKET ITEM - 1 - START ================ -->

          <!-- ================ BASKET ITEM - 2 - END ================ -->
          <li class="basket-item">
               <h2 class="heading-l">
                    <a href="/campaign/FAT/3-FAT-apprenticeship" class="apprenticeship-title">Apprenticeship title 2</a>
                    <a href="#" class="remove">Remove from basket</a>
                    <div class="form-group radios">
                         <div class="checkboxes__item compare-label">
                              <input class="checkboxes__input compare-item compare-apprenticeship-feature" type="checkbox" value="true" id="compare-apprenticeship-1" name="compare-apprenticeship-feature">
                              <label class="label checkboxes__label" for="compare-apprenticeship-1">Compare</label>
                         </div>
                    </div>
               </h2>
               <div class="left-content">
                    <div class="new"><span>new</span></div>
                    <p><strong>Level:</strong> 3 (equivalent to A levels at grades A to E)</p>
                    <p><strong>Typical length:</strong> 18 months</p>
               </div>
               <div class="right-content">
                    <h3 class="heading-s"><span class="saved-icon"></span>Your saved trainging providers</h3>
                    <section class="postcode-search">
                         <h4 class="heading-m">Enter the postcode of where the apprentice will work...</h4>
                         <div class="cta-fat__action">
                              <input type="search" id="fat-search-postcode" placeholder="Your postcode...">
                              <a id="link-FAT-search" href="#" class="button button--shadow button--sparks search"><span class="search"></span>Search</a>
                         </div>
                    </section>
               </div>
          </li>
          <!-- ================ BASKET ITEM - 2 - END ================ -->


     </ol>

</div>
