<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat postcode-search">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-l cta-faa__heading no-bottom-margin">
                         Save this training provider
                    </h2>
                    <p class="no-top-margin">Then you can create your gov.uk account to start hiring the future...</p>
               </div>
               <div class="cta-fat__action">
                    <a id="save-this-standard" href="/campaign/FAT/save-this-standard" class="button button--shadow button--sparks">Save training provider</a>
               </div>
          </div>
     </section>

</div>
