<section class="upsell-component">
     <h2 class="heading-l">What other people are looking at similar to <span class="fat-apprenticeship-title">Apprenticeship title</span></h2>
     <ol id="fat-search-results" class="search-results-list">

          <!-- /////////// FAT ITEM - 4 - START /////////// -->
          <li class="search-result" data-job-id="2">
               <h2 class="heading-m">
                    <a href="/campaign/FAT/3-FAT-apprenticeship" class="apprenticeship-title">Payroll Administrator</a>
                    <!-- <div class="new"><span>new</span></div> -->
               </h2>
               <div class="content-row">
                    <p><strong>Level:</strong> 3 (equivalent to A levels at grades A to E)</p>
                    <p><strong>Typical length:</strong> 18 months</p>
               </div>
               <div class="cta-row">
                    <div class="form-group radios">
                         <div class="checkboxes__item save-label">
                              <input class="checkboxes__input" type="checkbox" value="true" id="save-2" name="save-2">
                              <label class="label checkboxes__label" for="save-2">Add to favourites</label>
                         </div>
                         <!-- <div class="checkboxes__item compare-label">
                              <input class="checkboxes__input compare-item" type="checkbox" value="true" id="compare-2" name="compare-feature">
                              <label class="label checkboxes__label" for="compare-2">Compare</label>
                         </div> -->
                    </div>
               </div>
          </li>
          <!-- /////////// FAT ITEM - 4 - END /////////// -->

          <!-- /////////// FAT ITEM - 5 - START /////////// -->
          <li class="search-result" data-job-id="3">
               <h2 class="heading-m">
                    <a href="/campaign/FAT/3-FAT-apprenticeship" class="apprenticeship-title">School Business Professional</a>
                    <!-- <div class="new"><span>new</span></div> -->
               </h2>
               <div class="content-row">
                    <p><strong>Level:</strong> 4 (equivalent to certificate of higher education)</p>
                    <p><strong>Typical length:</strong> 18 months</p>
               </div>
               <div class="cta-row">
                    <div class="form-group radios">
                         <div class="checkboxes__item save-label">
                              <input class="checkboxes__input" type="checkbox" value="true" id="save-3" name="save-3">
                              <label class="label checkboxes__label" for="save-3">Add to favourites</label>
                         </div>
                         <!-- <div class="checkboxes__item compare-label">
                              <input class="checkboxes__input compare-item" type="checkbox" value="true" id="compare-3" name="compare-feature">
                              <label class="label checkboxes__label" for="compare-3">Compare</label>
                         </div> -->
                    </div>
               </div>
          </li>
          <!-- /////////// FAT ITEM - 5 - END /////////// -->

          <!-- /////////// FAT ITEM - 6 - START /////////// -->
          <li class="search-result" data-job-id="4">
               <h2 class="heading-m">
                    <a href="/campaign/FAT/3-FAT-apprenticeship" class="apprenticeship-title">Financial services administrator</a>
                    <!-- <div class="new"><span>new</span></div> -->
               </h2>
               <div class="content-row">
                    <p><strong>Level:</strong> 3 (equivalent to A levels at grades A to E)</p>
                    <p><strong>Typical length:</strong> 12 months</p>
               </div>
               <div class="cta-row">
                    <div class="form-group radios">
                         <div class="checkboxes__item save-label">
                              <input class="checkboxes__input" type="checkbox" value="true" id="save-4" name="save-4">
                              <label class="label checkboxes__label" for="save-4">Add to favourites</label>
                         </div>
                         <!-- <div class="checkboxes__item compare-label">
                              <input class="checkboxes__input compare-item" type="checkbox" value="true" id="compare-3" name="compare-feature">
                              <label class="label checkboxes__label" for="compare-3">Compare</label>
                         </div> -->
                    </div>
               </div>
          </li>
          <!-- /////////// FAT ITEM - 6 - END /////////// -->

     </ol>
</section>
