<section class="upsell-component">
     <h2 class="heading-l">What other people are looking at similar to <span class="fat-training-provider-title"></span></h2>
     <ol id="fat-training-provider-results" class="search-results-list">

          <!-- /////////// FAT ITEM - 2 - START /////////// -->
          <li class="search-result" data-provider-id="2">
               <h2 class="heading-m">
                    <a href="/campaign/FAT/5-FAT-training-provider" class="training-provider-title">Boom Training Ltd</a>
               </h2>
               <div class="content-row">
                    <p>
                         <span class="distance"><strong>Distance:</strong> 1.2 miles away</span>
                    </p>
                    <p class="training-options"><strong>Training options:</strong> day release <span class="feedback no"></span> block release <span class="feedback no"></span> at your location <span class="feedback yes"></span></p>
                    <p><strong>Employer satisfaction:</strong> no data available</p>
                    <p><strong>Learner satisfaction:</strong> 84%</p>
                    <p><strong>Achievement rate:</strong> no data available</p>
               </div>
               <div class="cta-row">
                    <div class="form-group radios">
                         <div class="checkboxes__item save-label">
                              <input class="checkboxes__input" type="checkbox" value="true" id="save-2" name="save-2">
                              <label class="label checkboxes__label" for="save-2">Favourite</label>
                         </div>
                    </div>
               </div>
          </li>
          <!-- /////////// FAT ITEM - 2 - END /////////// -->

          <!-- /////////// FAT ITEM - 3 - START /////////// -->
          <li class="search-result" data-provider-id="3">
               <h2 class="heading-m">
                    <a href="/campaign/FAT/5-FAT-training-provider" class="training-provider-title">INTEC BUSINESS COLLEGES LTD</a>
                    <span class="national">National</span>
               </h2>
               <div class="content-row">
                    <p>
                         <span class="distance"><strong>Distance:</strong> 1.3 miles away</span>
                    </p>
                    <p class="training-options"><strong>Training options:</strong> day release <span class="feedback no"></span> block release <span class="feedback no"></span> at your location <span class="feedback yes"></span></p>
                    <p><strong>Employer satisfaction:</strong> 85%</p>
                    <p><strong>Learner satisfaction:</strong> 87%</p>
                    <p><strong>Achievement rate:</strong> 72%</p>
               </div>
               <div class="cta-row">
                    <div class="form-group radios">
                         <div class="checkboxes__item save-label">
                              <input class="checkboxes__input" type="checkbox" value="true" id="save-3" name="save-3">
                              <label class="label checkboxes__label" for="save-3">Favourite</label>
                         </div>
                    </div>
               </div>
          </li>
          <!-- /////////// FAT ITEM - 3 - END /////////// -->

          <!-- /////////// FAT ITEM - 4 - START /////////// -->
          <li class="search-result" data-provider-id="4">
               <h2 class="heading-m">
                    <a href="/campaign/FAT/5-FAT-training-provider" class="training-provider-title">Babcock Training</a>
                    <span class="national">National</span>
               </h2>
               <div class="content-row">
                    <p>
                         <span class="distance"><strong>Distance:</strong> 1.4 miles away</span>
                    </p>
                    <p class="training-options"><strong>Training options:</strong> day release <span class="feedback no"></span> block release <span class="feedback no"></span> at your location <span class="feedback yes"></span></p>
                    <p><strong>Employer satisfaction:</strong> 81%</p>
                    <p><strong>Learner satisfaction:</strong> 89%</p>
                    <p><strong>Achievement rate:</strong> 82%</p>
               </div>
               <div class="cta-row">
                    <div class="form-group radios">
                         <div class="checkboxes__item save-label">
                              <input class="checkboxes__input" type="checkbox" value="true" id="save-4" name="save-4">
                              <label class="label checkboxes__label" for="save-4">Favourite</label>
                         </div>
                    </div>
               </div>
          </li>
          <!-- /////////// FAT ITEM - 4 - END /////////// -->

     </ol>
</section>
