<section class="faa-fat-link-block cta-faa search-page">
     <div class="cta-faa__content">
          <h1 class="heading-l cta-faa__heading">view all my results on <img src="/dist/campaign/images/go-uk-white.png"></h1>
          <p>
               Here are the 10 <strong class="faa-search-keyword"></strong> <strong class="faa-search-interest"></strong> apprenticeships nearest to <strong class="faa-search-location"></strong>.
               Visit <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" target="_blank">Find an apprenticeship</a> to see all <strong class="faa-search-keyword"></strong> <strong class="faa-search-interest"></strong> apprenticeships in your area.
          </p>
          <a id="link-FAA-Cta" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" class="button button--shadow button--sparks" rel="external"> <span class="external"></span>visit gov.uk to see my results</a>
     </div>
     <div class="cta-faa__action">
          <img class="faa-map no-js" src="/dist/campaign/images/faa-screen-shot.jpg">
     </div>
</section>
