<section class="faa-fat-link-block cta-faa">
     <div class="cta-faa__content">
          <h2 class="heading-l cta-faa__heading">Find an apprenticeship</h2>
          <p>
               Search for the right apprenticeship for you! Blaze your own trail and become an apprentice.
          </p>
     </div>
     <div class="cta-faa__action">
          <div class="form-group">
               <!-- <label class="form-label-bold" for="faa-search-keyword">Area of interest...</label> -->
               <select class="form-control" data-val="true" id="faa-search-keyword" name="faa-search-keyword">
                    <option value="all" selected>All areas of interest</option>
                    <option value="agriculture">Agriculture, environment and animal care</option>
                    <option value="business">Business and administration</option>
                    <option value="care-services">Care services</option>
                    <option value="catering-hospitality">Catering and hospitality</option>
                    <option value="construction">Construction</option>
                    <option value="creative">Creative and design</option>
                    <option value="digital">Digital</option>
                    <option value="education">Education and childcare</option>
                    <option value="engineering">Engineering and manufacturing</option>
                    <option value="hair">Hair and beauty</option>
                    <option value="health">Health and science</option>
                    <option value="legal">Legal, finance and accounting</option>
                    <option value="protective-services">Protective services</option>
                    <option value="sales">Sales, marketing and procurement</option>
                    <option value="transport">Transport and logistics</option>
               </select>
               <!-- <label class="form-label-bold" for="faa-search-keyword">Job title or keyword...</label>
               <input type="search" id="faa-search-keyword" placeholder="Job title or keyword..."> -->
          </div>
          <div class="form-group half-width">
               <!-- <label class="form-label-bold" for="Postcode">Postcode</label> -->
               <input class="form-control" type="text" id="Postcode" name="Postcode" placeholder="Enter postcode" value="">
               <span class="text-danger field-validation-valid" data-valmsg-for="Postcode" data-valmsg-replace="true"></span>
          </div>
          <div class="form-group half-width">
               <!-- <label class="form-label-bold" for="Distance">Distance</label> -->
               <select class="form-control" data-val="true" data-val-required="The Distance field is required." id="Distance" name="Distance">
                    <option value="2">2 miles</option>
                    <option selected="selected" value="5">5 miles</option>
                    <option value="10">10 miles</option>
                    <option value="15">15 miles</option>
                    <option value="20">20 miles</option>
                    <option value="30">30 miles</option>
                    <option value="40">40 miles</option>
               </select>

               <span class="text-danger field-validation-valid" data-valmsg-for="Distance" data-valmsg-replace="true"></span>
          </div>
          <a id="link-FAA-Cta" href="/campaign/apprentice/2-find-an-apprenticeship" class="button button--shadow button--sparks"> Search <span class="vh">for an apprenticeship in the Assessment and certification industry</span></a>
     </div>
</section>
