<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-faa search">
          <div class="cta-faa__action">
               <input type="search" id="faa-search-location" q="googlesearch" placeholder="Enter your Location or postcode...">
               <button id="link-FAA-search" onclick="window.location.href = '/campaign/apprentice/2B-find-an-apprenticeship';" class="button button--shadow button--sparks search"><span class="search"></span>Search</button>
          </div>
     </section>

</div>
