<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat search">
          <!-- <div class="cta-faa__content">
               <h2 class="heading-m cta-faa__heading">Embrace change and become an apprentice</h2>
               <p>
                    Do you want to earn while you learn, be debt free at the end of your training and have valuable hands-on experience? Then enter your postcode or town below and start to fire up your apprenticeship journey.
               </p>
          </div> -->
          <div class="cta-fat__action">
               <input type="search" id="fat-search-keyword" placeholder="Apprenticeship name or job role...">
               <a id="link-FAT-search" href="/campaign/FAT/2A-FAT-search-results" class="button button--shadow button--sparks search"><span class="search"></span>Search</a>
          </div>
     </section>

</div>
