<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat provider-details">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-l cta-fat__heading">Contact details</h2>
               </div>
               <div class="cta-fat__action">

                    <dl>
                         <dt class="apprenticeshipContactTitle">Website:</dt>
                         <dd>
                              <a href="https://www.intecbusinesscolleges.co.uk/employers/qualifications/business-administration-city-and-guilds.aspx" rel="external" target="_blank" class="course-link apprenticeshipContact fat-training-provider-title external">
                                   INTEC BUSINESS COLLEGES LTD website
                              </a>
                         </dd>

                         <dt class="phone-title">Phone number:</dt>
                         <dd id="phone" class="phone">0808 100 1155</dd>

                         <dt class="email-title">Email:</dt>
                         <dd id="email" class="email">
                              <a href="mailto:intec@intecbusinesscolleges.co.uk">intec@intecbusinesscolleges.co.uk</a>
                         </dd>

                         <dt class="providerContactTitle">Contact page:</dt>
                         <dd>
                              <a href="https://www.intecbusinesscolleges.co.uk/contact-us.aspx" rel="external" target="_blank" class="contact-link providerContact external">
                                   contact this training provider
                              </a>
                         </dd>

                         <dt class="training-location-title">Address:</dt>
                         <dd id="training-location" class="training-location">
                              Intec Business Colleges - Leamington Spa, 154-156, PARADE, LEAMINGTON SPA, <strong class="fat-search-location">CV32 4BQ</strong>
                         </dd>

                    </dl>

               </div>
          </div>
     </section>

</div>
