<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Agriculture, environment and animal care</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         This fertile sector for apprenticeships can be separated into three major categories:
                    </p>

                    <ol>
                         <li>land management and production</li>
                         <li>animal health and welfare</li>
                         <li>environmental industries</li>
                    </ol>

                    <p>
                         As you can imagine, there are a wide variety of jobs in the sector. While many apprentices find their
                         ideal job in the farming and skilled agricultural and environmental areas, there are also plenty of
                         diverse, practical, and animal-centric options out there too.
                    </p>

                    <p>
                         You will also find creative occupations here, like forestry, and caring jobs, for example, working
                         as an apprentice veterinary nurse.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Agriculture, environment and animal care includes:</dt>
                         <dd>Land-based service engineering technician</dd>
                         <dd>Sports turf operative</dd>
                         <dd>Horticulture and Landscape Operative</dd>
                    </dl>
               </div>

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/agriculture/649x995/agriculture-2.jpg" class="hero-heading__image">
          </div>
     </div>

     <div class="grid-row faa-cta-banner">
          <div class="grid-column-full">
               {% include '../faa-fat/_1-agriculture-faa.html'%}
          </div>
     </div>

     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
