<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Digital</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         The digital sector covers the many different occupations that keep modern
                         business, large and small, running efficiently and profitably.
                    </p>

                    <p>
                         A digital and technology solutions apprentice will help provide technology-enabled
                         solutions to customers and staff.
                    </p>

                    <p>
                         Successful apprentices are already working in a wide variety of digital-centric
                         roles, including software, business and systems analysis, cybersecurity, data
                         analysis and network infrastructures.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Digital includes:</dt>
                         <dd>IS Business Analyst</dd>
                         <dd>Software Development Technician</dd>
                         <dd>Cybersecurity technologist</dd>
                    </dl>
               </div>

               {% include '../faa-fat/_7-digital-faa.html'%}

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/digital/649x995/digital-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
