<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Education and childcare</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         Working with children and young people is an increasingly popular area for apprentices.
                    </p>

                    <p>
                         Learning support staff, such as apprentice teaching assistants, play a vital role
                         in today’s classrooms by supporting pupils, parents and colleagues to make sure
                         pupils get the most out of education. Apprenticeships can also involve particular
                         specialisms in areas like music or working with pupils with special educational
                         needs or challenging behaviour, helping them to overcome barriers to learning.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Education and childcare includes:</dt>
                         <dd>Teacher</dd>
                         <dd>Children, Young People & Families Manager</dd>
                         <dd>Learning mentor</dd>
                    </dl>
               </div>
          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/education/649x995/education-2.jpg" class="hero-heading__image">
          </div>
     </div>

     <div class="grid-row faa-cta-banner">
          <div class="grid-column-full">
               {% include '../faa-fat/_8-education-faa.html'%}
          </div>
     </div>

     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
