<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Real employer stories</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template real-stories">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap">

               {% include '../components/header/_header-employer.html'%}

               <main id="main-content" class="real-stories employer">

                    <!-- HERO BANNER - START -->
                    <div class="hero-banner hero-banner--header-slant real-stories">
                         <div class="grid-row">
                              <div class="grid-column-one-half">
                                   <div class="hero-heading">
                                        <h1 class="heading-xl hero-heading__heading">Real stories</h1>
                                   </div>
                                   <div class="hero-heading__content">
                                        <!-- <h2 class="heading-m" data-gtm-vis-recent-on-screen-10473530_40="191" data-gtm-vis-first-on-screen-10473530_40="191" data-gtm-vis-total-visible-time-10473530_40="100" data-gtm-vis-has-fired-10473530_40="1">employers, candidates & famous faces share their stories and experiences</h2> -->
                                        <p class="lead-paragraph">
                                             Have you ever thought about hiring an apprentice? Take a look at the real
                                             stories from other employers, and see how employing an apprentice benefitted
                                             their organisation.
                                        </p>
                                   </div>
                              </div>
                              <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
                         </div>
                         <span class="hero-banner__background hero-banner__background--industry employer"></span>
                    </div>
                    <!-- HERO BANNER - END -->

                    <!-- CASE STUDY HERO - ONE - START -->
                    <div class="grid-row hero-banner hero-banner--employer real-stories-hero-1">
                         <div class="grid-column-full">
                              <div class="grid-row hero-banner__content">
                                   <div class="grid-column-one-half  hero-banner__icon-play-container">
                                        <a class="hero-banner__icon-play" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="em-plyr-1" data-videourl="https://www.youtube.com/embed/5hGuBfCx85M?origin=https://das-at-frnt-end.azureedge.net&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
                                   </div>
                                   <div class="grid-column-one-half hero-banner__content-main">
                                        <div>
                                             <h3 class="hero-banner__header">Your new workforce awaits</h3>
                                             <p class="hero-banner__copy">
                                                  "As a non‐levy payer, a small business, the whole apprenticeship process has
                                                  been really straightforward for us"
                                             </p>
                                             <div class="hero-banner__cite">
                                                  Gail Saxon
                                                  <span class="hero-banner__cite-detail">
                                                       HR Manager, Robert Welch Design
                                                  </span>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <span class="hero-banner__background hero-banner__background--employer-gail"></span>
                         </div>
                    </div>
                    <!-- CASE STUDY HERO - ONE - END -->

                    <!-- CTA ROW - START -->
                    <div class="main-content real-stories-section no-bottom-padding">
                         <div class="grid-row">
                              <div class="grid-column-full">
                                   {% include '../components/faa-fat/_fat-number-link-block.html'%}
                              </div>
                         </div>
                    </div>
                    <!-- CTA ROW - START -->

                    <!-- CASE STUDY SMALL - START -->
                    <div class="main-content real-stories-section">

                         <div class="grid-row-full-width card__collection--grey card-stories__collection card-stories--apprentice">

                              <!-- CASE STUDY ONE - START -->
                              <a class="card-stories" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="em-plyr-2" data-videourl="https://www.youtube.com/embed/jAoi3oE8klw?origin=https://das-at-frnt-end.azureedge.net&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1">
                                   <div class="card-stories__image">
                                        <span class="card-stories__img card-stories__img--employer-annie"></span>
                                        <div class="card-stories__icon-play"></div>
                                   </div>
                                   <div class="card-stories__content">
                                        <h2 class="card-stories__headline heading-l">
                                             <span class="quotes"></span>
                                             A real win-win for businesses, large and small.
                                        </h2>
                                        <p class="card-stories__summary">
                                             The business, the organisation, and our managers here know the value that
                                             someone who has gone through an apprenticeship brings.
                                        </p>
                                        <p class="card-stories__summary">
                                             We started the apprenticeship program in 2010 and it has absolutely transformed
                                             how we recruit to the organisation.
                                        </p>
                                        <div class="card-stories__cite">
                                             Annie Cook,
                                             <span class="card-stories__cite-detail">
                                                  NHS Career Development Coordinator, NHS
                                             </span>
                                        </div>

                                   </div>
                              </a>
                              <!-- CASE STUDY ONE - END -->

                              <!-- CASE STUDY TWO - START -->
                              <a class="card-stories" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="em-plyr-3" data-videourl="https://www.youtube.com/embed/uD47su97gqk?origin=https://das-at-frnt-end.azureedge.net&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1">
                                   <div class="card-stories__image">
                                        <span class="card-stories__img card-stories__img--employer-laura"></span>
                                        <div class="card-stories__icon-play"></div>
                                   </div>
                                   <div class="card-stories__content">
                                        <h2 class="card-stories__headline heading-l">
                                             <span class="quotes"></span>
                                             Brilliant new perspectives across the business
                                        </h2>
                                        <p class="card-stories__summary">
                                             Apprentices have had an amazing impact across our business and bring a
                                             fresh perspective to everything we do here at Channel 4. They really challenge
                                             the status quo, and we empower them to do just that.
                                        </p>
                                        <div class="card-stories__cite">
                                             Laura Boswell,
                                             <span class="card-stories__cite-detail">
                                                  Industry Talent Specialist, Channel 4
                                             </span>
                                        </div>

                                   </div>
                              </a>
                              <!-- CASE STUDY TWO - END -->

                         </div>
                    </div>
                    <!-- CASE STUDY SMALL - START -->

                    <blockquote id="employer-quote" class="full-width">
                         <div class="content-wrapper">
                              <div class="quote"></div>
                              <h2>
                                   We resource our strategic workforce plan because we work in a very specialised area and need to train people
                                   specifically for the roles. Without apprentices, we wouldn't be able to find the people we need.
                              </h2>
                              <div class="cite">
                                   Bryan Ashford
                                   <span class="cite-detail">
                                        National Grid
                                   </span>
                              </div>
                         </div>
                    </blockquote>

                    <!-- CASE STUDY HERO - TWO - START -->
                    <div class="grid-row hero-banner hero-banner--employer real-stories-hero-2">
                         <div class="grid-column-full">
                              <div class="grid-row hero-banner__content">
                                   <div class="grid-column-one-half  hero-banner__icon-play-container">
                                        <a class="hero-banner__icon-play" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="em-plyr-4" data-videourl="https://www.youtube.com/embed/5qnghDBPLHo?origin=https://das-at-frnt-end.azureedge.net&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
                                   </div>
                                   <div class="grid-column-one-half hero-banner__content-main">
                                        <div>
                                             <h3 class="hero-banner__header">Fire up your business future</h3>
                                             <p class="hero-banner__copy">
                                                  "If you’re starting to offer apprenticeships for the first time, talking to
                                                  other people in your industry about training providers is an invaluable resource."
                                             </p>
                                             <div class="hero-banner__cite">Bendy Ashfield
                                                  <span class="hero-banner__cite-detail">Apprenticeship Manager, Royal Opera House</span>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <span class="hero-banner__background hero-banner__background--employer-bendy"></span>
                         </div>
                    </div>
                    <!-- CASE STUDY HERO - TWO - END -->

               </main>

               {% include '../components/footer/_footer.html'%}

               <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          </div>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
