<!-- /////////////////// Javascript - START /////////////////// -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL" crossorigin="anonymous"></script>
<script src="https://das-prd-frnt-end.azureedge.net/campaign/js/plyr.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://das-prd-frnt-end.azureedge.net/campaign/js/app.min.js" crossorigin="anonymous"></script>
<script src="https://das-prd-frnt-end.azureedge.net/js/das-all.js" crossorigin="anonymous"></script>
<script>
     window.DASFrontend.initAll()
     window.DASFrontend.initMaps()
</script>
<script src="/dist/js/jquery.cookie.js"></script>
<script src="/dist/js/my-cookies.js"></script>
<script src="/dist/js/my-jquery.js"></script>
<script src="/dist/js/scroll-effect.js"></script>
<script src="/dist/js/header/navigation.js"></script>
<script src="/dist/js/sidebar/sidebar.js"></script>

<script src="/dist/js/jquery.autocomplete.min.js"></script>
<script src="/dist/js/autocomplete.js"></script>
<script src="/dist/js/autocomplete-FAT.js"></script>

<!-- Modal files - START -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<!-- Modal files - END -->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<script type="text/javascript">

     AOS.init({
          duration: 1000
     })

     var myInput = document.getElementById("autocomplete");
     $("#faa-search-keyword").click(function(){
          // if (myInput.value == "Credit controller") {
          //      window.location.href = 'job-profiles/1-credit.html';
          //      return false;
          // } else if (myInput.value == "Paralegal") {
          //      window.location.href = 'job-profiles/2-paralegal.html';
          //      return false;
          // } else if (myInput.value == "Chef") {
          //      window.location.href = 'job-profiles/3-chef.html';
          //      return false;
          // } else if (myInput.value == "Publican") {
          //      window.location.href = 'job-profiles/4-publican.html';
          //      return false;
          // } else if (myInput.value == "Bank manager") {
          //      window.location.href = 'job-profiles/5-bank-manager.html';
          //      return false;
          // } else if (myInput.value == "Diver") {
          //      window.location.href = 'job-profiles/6-diver.html';
          //      return false;
          // } else if (myInput.value == "Plumber") {
          //      window.location.href = 'job-profiles/7-plumber.html';
          //      return false;
          // } else if (myInput.value == "Medical secretary") {
          //      window.location.href = 'job-profiles/8-medical.html';
          //      return false;
          // } else {
          //      window.location.href = 'job-profiles/2-paralegal.html';
          //      return false;
          // }
     });

</script>


<script src="/dist/js/are-you-sure.js"></script>
<script src="/dist/js/fat-ui.js"></script>

<script language="javascript">
     $(function() {
          var len_fit = 20; // According to your question, 20 letters can fit in.
          var un = $('#apprenticeship-title');

          // Get the lenght of title.
          if (un.length > 0) {
          var len_user_name = un.html().length;
          if(len_fit < len_user_name ){

               // Calculate the new font size.
               var size_now = parseInt(un.css("font-size"));
               var size_new = size_now * len_fit/len_user_name;

               // Set the new font size to the title.
               un.css("font-size",size_new);
          }
     }
     });
</script>

<!-- /////////////////// MODAL HTML - START /////////////////// -->
<div id="userModal" class="modal">
     <h1 class="heading-m">Choose your preference...</h1>
     <a href="/campaign/hub-apprentice" class="journey-picker journey-apprentice">
          <span class="launcher__section-heading">Apprenticeships</span>
          <span class="heading-m">Start your journey, become an apprentice</span>
     </a>
     <a href="/campaign/hub-employer" class="journey-picker journey-employer">
          <span class="launcher__section-heading">Employer</span>
          <span class="heading-m">Be part of the change, employ an apprentice</span>
     </a>
     <a href="/campaign/hub-parents" class="journey-picker journey-parents">
          <span class="launcher__section-heading">Parents</span>
          <span class="heading-m">Help shape their future, lead the next apprentice</span>
     </a>
</div>
<!-- /////////////////// MODAL HTML - END /////////////////// -->
