<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Legal, finance and accounting</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         Companies big and small need teams of people to look after their finances: who to
                         pay, who owes them money, how to invest and how to grow.
                    </p>

                    <p>
                         These companies also need help to sort out their tax affairs and make sure employees
                         get paid on time, while making them as profitable as possible. And not just
                         businesses. From the student taking out a loan to the retired pensioner, everyone
                         needs financial advice at some stage.
                    </p>

                    <p>
                         You can specialise too, as smaller legal and accountancy firms focus on one
                         particular industry or area, for example marine or property law, or freelance and
                         small business accountancy.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Legal, finance and accounting includes:</dt>
                         <dd>Professional accounting / taxation technician</dd>
                         <dd>Credit controller / collector</dd>
                         <dd>Mortgage adviser</dd>
                    </dl>
               </div>

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/legal/649x995/legal-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-image"></div>
</div>
