<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Care services</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         The care sector apprenticeships combine home and hospital visits with clinics and other
                         vital assistance for people who need extra help.
                    </p>

                    <p>
                         These include regular work with disabled people and older people who need support in
                         their own home or in the community— also known as social care.
                    </p>

                    <p>
                         This can be anything from working with young people in after schools clubs, to helping adults
                         with mental health issues, or getting elderly patients to their appointments.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Care services includes:</dt>
                         <dd>Adult care worker</dd>
                         <dd>Social worker</dd>
                    </dl>
               </div>

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/care-services/649x995/care-services-3.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-image"></div>
</div>
