<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Engineering and manufacturing</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         Almost every object has been manufactured in some way, whether in a factory by
                         huge machines or with hand tools in a small workshop.
                    </p>

                    <p>
                         So as you can imagine, there are a host of different manufacturing and engineering
                         apprenticeships available all over the country, at companies and workshops large
                         and small.
                    </p>

                    <p>
                         Manufacturing companies produce things on both industrial and small scales, which
                         in turn keeps all the other industries supplied with the materials needed to do
                         their job. Engineering, meanwhile, is all about making these things work and
                         includes everything from servicing escalators to checking RAF aircraft to activating
                         phone lines.
                    </p>

                    <p>
                         It’s not just tools and workshops either. Software engineers are using the latest
                         technologies to create virtual systems that will transform how we live and
                         work in the future.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Engineering and manufacturing includes:</dt>
                         <dd>Electrical Power Networks Engineer</dd>
                         <dd>Metal casting, foundry & patternmaking technician</dd>
                         <dd>Brewer</dd>
                    </dl>
               </div>

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/engineering/649x995/engineering-3.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-image"></div>
</div>
