<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Sales, marketing and procurement</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         All businesses need to find new customers and persuade them to buy things.
                         Otherwise, companies would go out of business.
                    </p>

                    <p>
                         This is where sales and marketing comes in: finding the needs and wants of people,
                         developing something that meets that need and creating a desire for it.
                    </p>

                    <p>
                         With the huge growth in social and digital media, digital marketing is now a key
                         part of the strategy for most businesses, helping them to increase their presence
                         both online and out in the real world.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Sales, marketing and procurement includes:</dt>
                         <dd>Travel consultant</dd>
                         <dd>Fishmonger</dd>
                         <dd>Customer service practitioner</dd>
                    </dl>
               </div>
          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/sales/649x995/sales-4.jpg" class="hero-heading__image">
          </div>
     </div>

     <div class="grid-row faa-cta-banner">
          <div class="grid-column-full">
               {% include '../faa-fat/_14-sales-faa.html'%}
          </div>
     </div>

     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
