<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <title>My interests</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#0b0c0c" />

     <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
     <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
     <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
     <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

     <!--[if !IE 8]><!-->

     <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

     <!--<![endif]-->

     <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-industries employer employer-page" data-page-id="4">

     <script>
          document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap">

          {% include '../components/header/_header-employer.html'%}

          <main class="interests-page">

               <!-- ////////////////// Hero Banner - START //////////////////-->
               <div class="hero-banner interests-page">
                    <div class="grid-row">
                         <div class="grid-column-one-half">
                              <div class="hero-heading">
                                   <h1 class="heading-xl hero-heading__heading">
                                        <div class="spark top"></div>
                                        <div class="spark bottom"></div>
                                        My industry
                                   </h1>
                              </div>
                         </div>
                         <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
                         <span class="hero-banner__background hero-banner__background--industry"></span>
                    </div>
               </div>
               <!-- ////////////////// Hero Banner - END //////////////////-->

               <!-- ////////////////// Row 1 - START //////////////////-->
               <div class="grid-row-full-width card__collection card__collection--industry interests-row-1">

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/1-agriculture-environment-animal-care">
                              <div class="card__image">
                                   <span class="card__img card__img--agriculture-environment-animal-care"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Agriculture, environment and animal care</h2>
                                   <p class="card__summary">Want to work outside, work with animals or do you just feel passionate about working for the environment? Here you go.</p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/2-business-administration">
                              <div class="card__image">
                                   <span class="card__img card__img--business-administration"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Business and administration</h2>
                                   <p class="card__summary">Where could a business-centric apprenticeship take you? Manager? CEO? Check out the
                                   current opportunities and see if you could go global.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/3-care-services">
                              <div class="card__image">
                                   <span class="card__img card__img--care-services"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Care services</h2>
                                   <p class="card__summary">Care service apprentices are making a real difference in their local communities. Every day,
                                   they’re helping vulnerable children, young people, adults and the elderly,
                                   across a range of different community care and support services.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/4-catering-hospitality">
                              <div class="card__image">
                                   <span class="card__img card__img--catering-hospitality"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Catering and hospitality</h2>
                                   <p class="card__summary">Are you fascinated by cooking? Perhaps you love working with food and drink? Or
                                   maybe ‘front of house’ or customer service are more your thing. Let’s find out.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

               </div>
               <!-- ////////////////// Row 1 - END //////////////////-->

               <!-- ////////////////// Row 2 - START //////////////////-->
               <div class="grid-row-full-width card__collection card__collection--industry interests-row-2">

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/5-construction">
                              <div class="card__image">
                                   <span class="card__img card__img--construction"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Construction</h2>
                                   <p class="card__summary">The billion-pound building industry covers a range of different apprenticeships,
                                   from traditional and specialist skills, civil engineering to joinery and more.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/6-creative-design">
                              <div class="card__image">
                                   <span class="card__img card__img--creative-design"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Creative and design</h2>
                                   <p class="card__summary">Excited by the idea of designing your own video game or crafting your own fashion label?
                                   Keen photographer or passionate composer-in-the making? If you have a flair for the artistic, the creative or the outrageous, look no further.</p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/7-digital">
                              <div class="card__image">
                                   <span class="card__img card__img--digital"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Digital</h2>
                                   <p class="card__summary">Apprenticeships in digital span a huge range of careers,
                                   as new technology transforms businesses large and small, traditional
                                   and start-ups, across the country. Ready to get connected?
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/8-education-childcare">
                              <div class="card__image">
                                   <span class="card__img card__img--education-childcare"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Education and childcare</h2>
                                   <p class="card__summary">If you can see yourself helping children and
                                   young people develop the skills they need to succeed, this is the apprenticeship sector for you.</p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

               </div>
               <!-- ////////////////// Row 2 - END //////////////////-->

               <!-- ////////////////// Row 3 - START //////////////////-->
               <div class="grid-row-full-width card__collection card__collection--industry interests-row-3">

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/9-engineering-manufacturing">
                              <div class="card__image">
                                   <span class="card__img card__img--engineering-manufacturing"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Engineering and manufacturing</h2>
                                   <p class="card__summary">From nuclear reactors and software systems to product design and automotive,
                                   engineering and manufacturing apprenticeships take many forms. Ready to switch on?
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/10-hair-beauty">
                              <div class="card__image">
                                   <span class="card__img card__img--hair-beauty"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Hair and beauty</h2>
                                   <p class="card__summary">From high street salons and spas to theatre dressing rooms and film
                                   and TV sets. Who knows where a Hair and Beauty apprenticeship could take you…
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/11-health-science">
                              <div class="card__image">
                                   <span class="card__img card__img--health-science"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Health and science</h2>
                                   <p class="card__summary">These apprenticeships give you the training to embark on a range of different science and
                                   research-based careers, including, NHS and community health roles, chemical and pharmaceutical
                                   businesses, biotechnology and nuclear manufacturing.</p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/12-legal-finance-accounting">
                              <div class="card__image">
                                   <span class="card__img card__img--legal-finance-accounting"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Legal, finance and accounting</h2>
                                   <p class="card__summary">Companies large and small need teams of people
                                   to look after their finances, legal affairs and accounts. Which means
                                   you could start an apprenticeship in any one of hundreds of different businesses.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

               </div>
               <!-- ////////////////// Row 3 - END //////////////////-->

               <!-- ////////////////// Row 4 - START //////////////////-->
               <div class="grid-row-full-width card__collection card__collection--industry interests-row-4">

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/13-protective-services">
                              <div class="card__image">
                                   <span class="card__img card__img--protective-services"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Protective services</h2>
                                   <p class="card__summary">Discover apprenticeships that are all about keeping people safe,
                                   including fire services, waste management, and HM Armed Forces.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/14-sales-marketing-procurement">
                              <div class="card__image">
                                   <span class="card__img card__img--sales-marketing-procurement"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Sales, marketing and procurement</h2>
                                   <p class="card__summary">Explore a host of apprenticeships across a wide range of different sales, promotion
                                   and procurement industries. From retail and customer services to digital marketing. National
                                   and local employers are always on the lookout for new apprentices.</p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer-industries/15-transport-logistics">
                              <div class="card__image">
                                   <span class="card__img card__img--transport-logistics"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Transport and logistics</h2>
                                   <p class="card__summary">How about helping to keep the nation’s transport systems running smoothly?
                                   Across everything from aviation to coach travel. Or try a career in logistics,
                                   making sure products show up at the right place, at the right time.</p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

               </div>
               <!-- ////////////////// Row 4 - END //////////////////-->

          </main>

          {% include '../components/footer/_footer-employer.html'%}

          <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

     </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     </body>

</html>
