<div class="wrapper gov-uk-account">
     <div class="sidebar__sub-content sidebar__sub-content--mid">
          <h2 class="heading-m sidebar__heading">Already have a <br><img class="sidebar__sub-content-crown-logo" src="https://das-at-frnt-end.azureedge.net/assets/images/govuk-mask-icon.svg"> gov.uk account?</h2>
          <a class="button button-inverted button--shadow" href="https://accounts.manage-apprenticeships.service.gov.uk/service/index" rel="external"><span class="external"></span>Go to my account</a>
     </div>
</div>
