
$employer:          #218379;
$employer-mid:      #C1E1DF;
$employer-light:    #ECFCFB;
$employer-pale:     #F5FCFC;

$apprentice:          #006dff;
$apprentice-mid:      #D7E9FC;
$apprentice-light:    #E8F4FF;
$apprentice-pale:     #F6FBFF;

$parents:           #4C2C92;
$parents-mid:       #CFC5E6;
$parents-light:     #EFEAFA;
$parents-pale:      #F9F6FD;

$grey-1:        #212121;
$grey-2:        #212121;
$grey-3:        #646c6f;
$grey-4:        #ddd;
$grey-5:        #6F777B;
$grey-6:        #E2E2E2;
$grey-7:        #F8F8F8;
$grey-8:        #999;

$black:         #0B0C0C;
$green:         #28A197;

$text-colour:     #6F777B;
$heading-colour:  $black;
$border-colour:   #dee0e2;

$link-colour:             $apprentice;
$link-visited-colour:     $apprentice;

$secondary-text-colour: $grey-3;
$page-bg:       #1e1d1d;
$focus-colour:  #ffbf47;
$border-colour: #ddd;
$error-colour:  #C42B3A;

$input-border-colour: #000;
