<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--apprentice">
                         <a href="/campaign/apprentice/1-what-is-an-apprenticeship">Apprentice</a>
                         <div class="sep">></div>
                         <a href="/campaign/apprentice/6-assessment-and-qualification">ASSESSMENT AND QUALIFICATION</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">ASSESSMENT AND QUALIFICATION</h1>

               </div>

               <ul class="list list--arrows">
                    <li><a href="#heading1" class="hero__link scroll" data-offset="100">Get Assessed</a></li>
                    <li><a href="#heading2" class="hero__link scroll" data-offset="100">Get Qualified</a></li>
               </ul>
               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
