<div class="hero fat-hero no-side-nav" id="em-FAT-3-header">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/FAT/1-FAT-search">Search apprenticeships</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/3C-FAT-search-results?id=620-20-1">Apprenticeship details</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading fat-apprenticeship-title" id="apprenticeship-title">Apprenticeship title</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph no-bottom-margin">This information is taken from an apprenticeship framework. It sets out what qualifications the apprentice can achieve.</p>
               </div>
          </div>

          <div class="grid-column-one-third">
               <div class="sidebar sidebar--employer FAT-basket">
                    <div class="shopping-basket">
                         {% include '../faa-fat/_fat-search-location-header.html' %}
                    </div>
               </div>
               <div class="anchor-wrapper">
                    <a href="#" id="back-to-top"><span></span>Back to the top</a>
               </div>
          </div>

     </div>
     <div class="background-image"></div>
</div>
