<div class="hero fat-hero no-side-nav">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/FAT/1-FAT-search">Search apprenticeships</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/3-FAT-apprenticeships" class="fat-training-provider-title">Trainging provider title</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading fat-training-provider-title">Trainging provider title</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Save this training provider then create your gov.uk account to start hiring the future...
                    </p>
                    <div class="cta-row">
                         <a id="save-this-standard" href="/campaign/FAT/save-this-standard" class="button button--shadow button--sparks">Save training provider</a>
                    </div>
               </div>
          </div>
     </div>
</div>
