<ol class="sidebar-nav">
     <li class="sidebar-nav__section" data-tab-no="1">
          <a href="/campaign/apprentice/1-what-is-an-apprenticeship"> What is an apprenticeship?</a>
          <ul>
               <li><a href="/campaign/apprentice/1-what-is-an-apprenticeship#heading1"> Introduction to apprenticeships</a></li>
               <li><a href="/campaign/apprentice/1-what-is-an-apprenticeship#heading2"> What are the different types of apprenticeships?</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="2">
          <a href="/campaign/apprentice/2-find-an-apprenticeship">Find an apprenticeship</a>
          <br>
          <!-- <a href="https://www.gov.uk/apply-apprenticeship" target="_blank" class="new-window">Find an apprenticeship on<br><span class="gov-uk"></span>gov.uk</a> -->
     </li>
     <li class="sidebar-nav__section" data-tab-no="3">
          <a href="/campaign/apprentice/3-application">Application</a>
          <ul>
               <li><a href="/campaign/apprentice/3-application#heading1"> So, you've found your ideal apprenticeship?</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="4">
          <a href="/campaign/apprentice/4-interview">Interview</a>
          <ul>
               <li><a href="/campaign/apprentice/4-interview#heading1"> The Interview Process</a></li>
               <li><a href="/campaign/apprentice/4-interview#heading2"> Before Your Interview</a></li>
               <li><a href="/campaign/apprentice/4-interview#heading3"> Day of the interview</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="5">
          <a href="/campaign/apprentice/5-your-apprenticeship">Your apprenticeship</a>
          <ul>
               <li><a href="/campaign/apprentice/5-your-apprenticeship#heading1"> What to bring, and other useful info</a></li>
               <li><a href="/campaign/apprentice/5-your-apprenticeship#heading1"> Meet your new team</a></li>
               <li><a href="/campaign/apprentice/5-your-apprenticeship#heading1"> First an apprenticeship, now a career!</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="6">
          <a href="/campaign/apprentice/6-assessment-and-qualification">Assessment and qualification</a>
          <ul>
               <li><a href="/campaign/apprentice/6-assessment-and-qualification#heading1"> Get Assessed</a></li>
               <li><a href="/campaign/apprentice/6-assessment-and-qualification#heading1"> Get Qualified</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
</ol>
