<ol class="sidebar-nav">
     <li class="sidebar-nav__section" data-tab-no="1">
          <a href="/campaign/employer/1-how-much-is-it-going-to-cost">How much is it going to cost?</a>
          <ul>
               <li><a href="/campaign/employer/1-how-much-is-it-going-to-cost#heading1">How much will it cost me?</a></li>
               <li><a href="/campaign/employer/1-how-much-is-it-going-to-cost#heading2">If you don't need to pay the apprenticeship levy</a></li>
               <li><a href="/campaign/employer/1-how-much-is-it-going-to-cost#heading3">Additional payments from the government</a></li>
               <li><a href="/campaign/employer/1-how-much-is-it-going-to-cost#heading4">Example costs</a></li>
               <li><a href="/campaign/employer/1-how-much-is-it-going-to-cost#heading5">Transferring funds to another employer</a></li>
               <li><a href="/campaign/employer/1-how-much-is-it-going-to-cost#heading6">Paying the levy</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="2">
          <a href="/campaign/employer/2-the-right-apprenticeship">The right apprenticeship</a>
          <ul>
               <li><a href="/campaign/employer/2-the-right-apprenticeship#heading1"> Which apprenticeship is right for my business?</a></li>
               <li><a href="/campaign/employer/2-the-right-apprenticeship#heading2"> I want to find an apprentice for my business</a></li>
               <li><a href="/campaign/employer/2-the-right-apprenticeship#heading3"> Types of apprenticeships</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="3">
          <a href="/campaign/employer/3-choose-training-provider">Choose a training provider</a>
          <ul>
               <li><a href="/campaign/employer/3-choose-training-provider#heading1"> Choose a training provider</a></li>
               <li><a href="/campaign/employer/3-choose-training-provider#heading2"> Misunderstandings and myths</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
          <li class="sidebar-nav__section" data-tab-no="6">
          <a href="/campaign/employer/6-assessment-and-qualification">Choose an end-point assessment organisation</a>
          <ul>
               <li><a href="/campaign/employer/6-assessment-and-qualification#heading1"> Assessment</a></li>
                <li><a href="/campaign/employer/6-assessment-and-qualification#heading4"> When to choose an end-point assessment organisation</a></li>
               <li><a href="/campaign/employer/6-assessment-and-qualification#heading2"> Where to find an end-point assessment organisation</a></li>
               <li><a href="/campaign/employer/6-assessment-and-qualification#heading3"> Qualification</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="4">
          <a href="/campaign/employer/4-hire-an-apprentice">Hire an apprentice</a>
          <ul>
               <li><a href="/campaign/employer/4-hire-an-apprentice#heading1"> Finding the right apprentice for you</a></li>
               <li><a href="/campaign/employer/4-hire-an-apprentice#heading2"> How to ask the right questions at interview</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>
     <li class="sidebar-nav__section" data-tab-no="5">
          <a href="/campaign/employer/5-preparing-and-monitoring">Preparing and monitoring</a>
          <ul>
               <li><a href="/campaign/employer/5-preparing-and-monitoring#heading1"> Preparing</a></li>
               <li><a href="/campaign/employer/5-preparing-and-monitoring#heading2"> Monitoring</a></li>
          </ul>
          <a href="#" class="show-hide-link show">Show content within</a>
     </li>

</ol>
