<header class="apprentice-header">
     <div class="header">
          <div class="wrapper-header">
               <div class="header__logo">
                    <a href="/campaign/hub-apprentice">
                         <img src="/dist/campaign/images/apprenticeships-logo-black-apprentice.jpg" alt="Apprenticeships Logo" class="header__logo-image">
                    </a>
               </div>
               {% include '../navigation/_navigation.html'%}
          </div>
     </div>
</header>
