<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 2 - The right apprenticeship</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/_em-2B-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-2 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">


                     <div class="page">

                          <!--<a id="#<what-apprentice>"></a>-->
                          <h2 class="heading-l no-top-margin" id="heading1">Which apprenticeship is right for my business?</h2>

                          <p>
                              Apprentices will spend at least 20% of their time on off-the-job
                              training with your chosen training provider.  Apprenticeships offer the opportunity to have a flexible,
                              but structured training programme, that meet your business needs.

                          </p>

                          <p>
                              If you’re an employer who wants to take on an apprentice, you need to know:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>apprentices are aged 16 or over (to any age)</li>
                              <li>they combine working with studying to gain skills and knowledge in a specific job</li>
                              <li>they can be new or current employees who are looking to upskill</li>
                          </ul>

                          <p>
                              Apprenticeships are being developed, approved and added all the time.
                              Keep a lookout for new apprenticeships that have been added and make sure that you
                              <a href="#heading2" class="scroll" data-offset="100"> find the right apprenticeship </a> to
                              meet your business needs.
                          </p>

                          <div class="mid-content-cta">
                               {% include '../components/faa-fat/_fat-link-block-B.html'%}
                          </div>

                          <p>
                              When you're looking for an apprenticeship, make sure you:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>select the right training for your business which delivers what you need</li>
                              <li>don’t accept training because it’s the only apprenticeship available</li>
                              <li>
                                  are in contact with the training provider and are both involved with the training and
                                  development of the apprentice
                              </li>
                          </ul>

                          <h2 class="heading-m" id="heading3">I want to find an apprentice for my business</h2>

                          <p>
                              If you’re interested in taking on an apprentice you should know:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>how much it’s going to cost you</li>
                              <li>what funding you can get</li>
                              <li>how to find an apprenticeship that suits your business needs</li>
                              <li>how to find a training provider who can deliver the right training</li>
                          </ul>

                          <p>
                              You need to pay the apprentice a salary that doesn’t go below the <a href="https://www.gov.uk/national-minimum-wage-rates" id="link-min-wage" target="_blank" rel="external" class="external">minimum wage</a>.
                          </p>

                          <p>
                              Your apprentice should:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>work with experienced staff</li>
                              <li>learn job-specific skills</li>
                              <li>study whilst doing their apprenticeship</li>
                          </ul>

                          <h2 class="heading-m" id="heading4">Types of apprenticeships</h2>

                          <p>
                              Apprentices must work towards an approved apprenticeship.  Their training must last at least
                              12 months.
                          </p>

                          <h3 class="heading-s">Apprenticeship standards</h3>

                          <p>
                              Apprenticeship standards describe the knowledge, skills and behaviours that bring full competence in a particular
                              occupation.  They describe how an apprentice can demonstrate mastery of this occupation by the end of the
                              apprenticeship.
                          </p>

                          <p>
                              You should agree with the end-point assessment organisation the cost of the end-point assessment.
                              Your training provider will contract with your chosen end-point assessment organisation
                              and pay them on your behalf.
                          </p>

                          <h3 class="heading-s">Apprenticeship frameworks</h3>

                          <p>
                              Apprenticeship frameworks are a series of work-related qualifications.
                              There is no end-point assessment for this type of apprenticeship.
                          </p>

                          <p>
                              All apprenticeship frameworks will be withdrawn by 2020. This will be a phased approach as
                              employers take on more apprentices using the new apprenticeship standards.
                          </p>

                          <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div>

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--previous" href="/campaign/employer/1-how-much-is-it-going-to-cost">
                                        How much is it going to cost?
                                   </a>
                              </li>
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--next" href="/campaign/employer/3-choose-training-provider">
                                        Choose a training provider
                                   </a>
                              </li>
                          </ul>

                      </div>

                </div>

                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-the-right-apprenticeship.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS FOR HIRING APPRENTICES</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar-employer.html'%}
                        </div>
                        {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/faa-fat/_resources-links.html'%}

    {% include '../components/footer/_footer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
