<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 3 - Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header.html'%}
         {% include '../components/hero-heading/_app-3-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-3 apprentice">

             <div id="text-container" class="grid-row">
                <div class="grid-column-two-thirds">

                    <div class="page">

                         <h2 class="heading-l no-top-margin" id="heading1">So, you've found your ideal apprenticeship?</h2>

                         <p>
                              If you haven't, there are many places employers advertise for apprentices.
                              For starters, try searching the
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" target="_blank" rel="external" class="external" id="link-fat">Find an
                              apprenticeship</a> website.
                         </p>

                         <h3 class="heading-s">Apply for the job and send the application to the employer</h3>

                         <p>
                              <a href="https://nationalcareersservice.direct.gov.uk/get-a-job" target="_blank" rel="external" class="external" id="link-ncs">Get help</a>
                              how to apply for your chosen apprenticeship -
                              including creating a good CV and writing your cover letter.
                         </p>

                         <h3 class="heading-s">Wait for the applications to be shortlisted</h3>

                         <p>
                              This can be the nail-biting bit, where you're waiting to hear back from the employer. Sometimes it might help to
                              check when the closing date was for applications - this should give you a clue as to when
                              they'll be in touch.
                         </p>

                         <h3 class="heading-s">If you’re on the shortlist, you’ll be invited for an interview with the employer</h3>

                         <p>
                              This is when you need to brush up your research into the organisation for your forthcoming interview.
                         </p>

                         <ul class="pagination pagination--apprentice">
                              <li class="pagination__list-item">
                                   <a href="/campaign/apprentice/2-find-an-apprenticeship" class="pagination__link pagination__link--previous">Find an apprenticeship</a>
                              </li>
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--next" href="/campaign/apprentice/4-interview">Interview</a>
                              </li>
                         </ul>

                    </div>


                </div>
                <div class="grid-column-one-third">
                    <div class="sidebar siderbar-employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/apprentices/apprentice-application.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS TO BECOME AN APPRENTICE</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar.html'%}
                        </div>
                        {% include '../components/sideBar/_register.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_faa-link-block.html'%}

        </main>


    {% include '../components/footer/_footer.html'%}

    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
      <script src="/dist/js/das-all.js"></script>
        <script>
          window.DASFrontend.initAll()
        </script> -->

        {% include '../components/footer/_scripts.html'%}


</body>

</html>
