<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 5 - Your apprenticeship</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template apprentice-page" data-page-id="3">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-apprentice.html'%}
         {% include '../components/hero-heading/_app-5-hero-heading.html' %}

         <main id="main-content" class="main-content page-app-5 apprentice">

              <div id="text-container" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">
                         <h2 id="heading1" class="heading-l no-top-margin">What to bring, and other useful info</h2>
                         <p>
                              Your employer will be in touch, to let you know your working hours,
                              and when they’d like you to start on your first day.
                              Ideally they will also send you a list of what to bring along.
                         </p>

                         <p>
                              You will probably be sent a list covering the following:
                         </p>
                         <ul class="list list--bullet list--bullet-apprentice">
                              <li>
                                   what you will need to bring - notebook/pens/ID
                              </li>
                              <li>
                                   what time you need to arrive
                              </li>
                              <li>
                                   how your should dress - suit or jeans
                              </li>
                              <li>
                                   how much money you will need to bring for lunch etc
                              </li>
                              <li>
                                   who you should ask for when you arrive
                              </li>
                              <li>
                                   where to get the bus/train or park your car
                              </li>
                         </ul>

                         <h2 id="heading2" class="heading-m">Meet your new team</h2>

                         <p>
                              When you start your apprenticeship, you’ll probably be introduced to your line manager.
                         </p>
                         <p>
                              They will show you around, answer any questions and invite you to regular catch-ups
                              to see how you’re getting along. They’ll also keep in touch with your training provider –
                              wherever you’re doing your studying – to make sure your whole apprenticeship is going well.
                         </p>

                         <h2 id="heading3" class="heading-m">First an apprenticeship, now a career!</h2>
                         <p>
                              Once your apprenticeship is up and running, it’s always worth discussing your future career
                              with your current employer, as well as doing some research yourself.
                         </p>
                         <p>
                              Could you progress from apprentice to permanent staff? Or take your new skills
                              somewhere new? Perhaps another apprenticeship in a totally different company?
                         </p>
                         <p>
                              The sooner you start to take control of the new trail you’re blazing, the better the ride will be.
                         </p>

                         <!-- ////////////////////////////////// TWITTER FEED - START ////////////////////////////////// -->
                         <div class="twitter-feed">
                              <a class="twitter-timeline" data-height="1000" data-theme="dark" href="https://twitter.com/FireItUp_Apps?ref_src=twsrc%5Etfw">Tweets by FireItUp_Apps</a>
                              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                         </div>
                         <!-- ////////////////////////////////// TWITTER FEED - END ////////////////////////////////// -->

                         <ul class="pagination pagination--apprentice">
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--previous" href="/campaign/apprentice/4-interview"> Interview</a>
                              </li>
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--next" href="/campaign/apprentice/6-assessment-and-qualification">Assessment and qualification </a>
                              </li>
                         </ul>
                    </div>

                </div>
                <div class="grid-column-one-third">
                    <div class="sidebar">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/apprentices/apprentice-your-apprenticeship.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS TO BECOME AN APPRENTICE</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar.html'%}
                        </div>
                        {% include '../components/sideBar/_register.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_faa-link-block.html'%}

        </main>


    {% include '../components/footer/_footer-apprentice.html'%}

    </div>

    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
        <script src="/dist/campaign/js/app.min.js"></script>
      <script src="/dist/js/das-all.js"></script>
        <script>
          window.DASFrontend.initAll()
        </script> -->

        {% include '../components/footer/_scripts.html'%}


</body>

</html>
