<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 6 - Assessment and qualification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template apprentice-page" data-page-id="3">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-apprentice.html'%}
         {% include '../components/hero-heading/_app-6-hero-heading.html' %}

         <main id="main-content" class="main-content page-app-6 apprentice">

              <div id="text-container" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">
                           <h2 class="heading-l no-top-margin" id="heading1">Get Assessed</h2>
                          <p>
                              When you’re reaching the end of your apprenticeship, you’ll be given the chance to show what you’ve learned as part of a final assessment.
                          </p>
                          <p>
                              Don’t worry. This isn’t some big scary exam. It’s just a chance for your employer to show how well you’ve progressed, by showcasing your new skills, knowledge and behaviour.
                          </p>
                          <p>
                              Your employer should give you plenty of guidance as to what’s expected, and when your assessment will happen. Alongside your college training and exams, this final assessment will count towards your end qualification.
                          </p>

                          <h2 class="heading-m" id="heading2">Get Qualified</h2>
                          <p>
                              Pass the assessment, complete your apprenticeship, enjoy the moment (then jump around, scream, shout, Instagram). You’ve done it, you did it, you’ve earned this.
                          </p>
                          <p>
                              So where next?
                          </p>
                          <p>
                              Just like your apprenticeship, the answer’s up to you. You’ve got a whole new set of skills, a qualification that’ll impress employers, and really useful experiences that show that you can make the step up from apprentice to, well, wherever you want to go.
                          </p>

                          <ul class="pagination pagination--apprentice">
                              <li class="pagination__list-item">
                                  <a class="pagination__link pagination__link--previous" href="/campaign/apprentice/5-your-apprenticeship">Your apprenticeship</a>
                              </li>
                          </ul>

                       </div>

                </div>
                <div class="grid-column-one-third">
                    <div class="sidebar">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/apprentices/apprentice-assessment-and-qualification.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS TO BECOME AN APPRENTICE</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar.html'%}
                        </div>
                        {% include '../components/sideBar/_register.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_faa-link-block.html'%}

        </main>


    {% include '../components/footer/_footer-apprentice.html'%}

    </div>

    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
        <script src="/dist/campaign/js/app.min.js"></script>
      <script src="/dist/js/das-all.js"></script>
        <script>
          window.DASFrontend.initAll()
        </script> -->

        {% include '../components/footer/_scripts.html'%}


</body>

</html>
