<!-- ////////////////// Hero Banner - START //////////////////-->
<div class="hero-banner apprentice" id="hub-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">
                         <div class="spark top"></div>
                         <div class="spark bottom"></div>
                         Ignite your career
                    </h1>
               </div>
               <div>
                    <p class="hero-line">EMBRACE CHANGE and become an apprentice</p>
                    <p>
                         Do you want to earn while you learn, be debt free at the end of your training
                         and have valuable hands-on experience? Then enter your postcode or town below
                         and start to fire up your apprenticeship journey.
                    </p>
                    <a href="/campaign/apprentice/2-find-an-apprenticeship" class="button button--shadow button--sparks button--apprentice">Find an apprenticeship</a>
               </div>
          </div>
          <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          <span class="hero-banner__background hero-banner__background--industry"></span>
     </div>
</div>
<!-- ////////////////// Hero Banner - END //////////////////-->
