<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Email me complete</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          {% include '../components/header/_header-employer.html'%}

          <main id="main-content" class="email-me-page employer">

               <div class="hero" data-module="smoothScroll">
                    <div class="grid-row">
                         <div class="grid-column-one-half">
                              <div class="hero-heading">
                                   <span class="caption-m hero-heading__caption"></span>
                                   <h1 class="heading-xl hero-heading__heading">
                                        WE’VE SENT YOU AN EMAIL, <span class="FirstName-Email"></span>
                                   </h1>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="main-content">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds">

                              <h2 class="heading-m no-top-margin">
                                   Your favourites have now been sent to <span class="Email-Email"></span>, and should be with you shortly.
                              </h2>
                              <p>
                                   This email contains all the apprenticeships and training providers you added to your favourites list, so you can
                                   easily return to them later.
                              </p>
                              <p>
                                   Ready to start a conversation with the training providers you’re interested in?
                                   Use the <strong>Share my details</strong> link on your favourites page to ask them to contact you.
                              </p>

                              <a href="/campaign/FAT/FAT-basket" class="button button--shadow button--sparks search button--black">RETURN TO MY FAVOURITES</a>
                              <!-- <p><a href="/campaign/register/email-myself" class="external" rel="external ">Check your email</a></p> -->

                         </div>

                    </div>
               </div>

          </main>

          <main class="interests-page email-me-page">

               <!-- ==== TITLE - START ==== -->
               <section class="full-width title-container hub-title-container">
                    <div class="content-wrapper">
                         <h2 class="heading-l">I’d like to find out more – where should I start?</h2>
                         <p class="no-top-margin">
                              Whether you’re just beginning your apprenticeship journey or you have a few last-minute
                              questions, here are the key things you need to know.
                         </p>
                    </div>
               </section>
               <!-- ==== TITLE - END ==== -->

               <!-- ////////////////// Row 1 - START //////////////////-->
               <div class="grid-row-full-width card__collection card__collection--industry interests-row-1">

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/interests/1-agriculture-environment-animal-care">
                              <div class="card__image">
                                   <span class="card__img card__img--agriculture-environment-animal-care"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Agriculture, environment and animal care</h2>
                                   <p class="card__summary">Want to work outside, work with animals or do you just feel passionate about working for the environment? Here you go.</p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/interests/2-business-administration">
                              <div class="card__image">
                                   <span class="card__img card__img--business-administration"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Business and administration</h2>
                                   <p class="card__summary">Where could a business-centric apprenticeship take you? Manager? CEO? Check out the
                                   current opportunities and see if you could go global.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/interests/3-care-services">
                              <div class="card__image">
                                   <span class="card__img card__img--care-services"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Care services</h2>
                                   <p class="card__summary">Care service apprentices are making a real difference in their local communities. Every day,
                                   they’re helping vulnerable children, young people, adults and the elderly,
                                   across a range of different community care and support services.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/interests/4-catering-hospitality">
                              <div class="card__image">
                                   <span class="card__img card__img--catering-hospitality"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Catering and hospitality</h2>
                                   <p class="card__summary">Are you fascinated by cooking? Perhaps you love working with food and drink? Or
                                   maybe ‘front of house’ or customer service are more your thing. Let’s find out.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

               </div>
               <!-- ////////////////// Row 1 - END //////////////////-->

          </main>


          {% include '../components/footer/_footer.html'%}

          <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
