<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Health and science</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         Health is something we often take for granted, but couldn’t cope without.
                    </p>

                    <p>
                         It takes more than doctors to keep our health service running. Careers in health
                         and sciences include dispensing medicines in a pharmacy, giving eye tests,
                         working as a dental nurse and many more.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Health and science includes:</dt>
                         <dd>Dental technician</dd>
                         <dd>Laboratory scientist</dd>
                         <dd>Food technologist</dd>
                    </dl>
               </div>

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/health/649x995/health-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-image"></div>
</div>
