<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Catering and hospitality</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         Catering and hospitality serve up a host of different apprenticeships in
                         restaurants, cafés, pubs, bars, nightclubs and hotels.
                    </p>

                    <p>
                         But the sector also includes customer service roles, as well as working in the
                         supply network that provides food and drink to other industries. Schools,
                         colleges, hospitals and large businesses often have canteens and catering
                         staff too. You could train as a chef in a restaurant, or learn how to cook on a
                         large scale for institutions such as the NHS. Or you could be ‘front of house’
                         welcoming guests or helping management ensure effective day-to-day operations.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Catering and hospitality includes:</dt>
                         <dd>Chef De Partie</dd>
                         <dd>Advanced butcher</dd>
                         <dd>Hospitality supervisor</dd>
                    </dl>
               </div>

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/catering/649x995/catering-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-image"></div>
</div>
