<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Health and science</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template apprentice">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap">

               {% include '../components/header/_header.html'%}

               {% include '../components/header-interests/_11-health-science.html'%}

               <main class="main-content interests-page">

                    <!-- /////////////////////// JOBS SECTION - START /////////////////////// -->
                    <section class="sector-jobs">
                         <h1 class="heading-m">top 5 apprenticehsips in Health and science</h1>

                         <div class="jobs-wrapper">

                              <!-- Job 1 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-380870" class="job" target="_blank">
                                   <span class="number">1</span>
                                   <h2 class="heading-xs">Science Technician Apprenticeship</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Preston</h3>
                                   <p>£18,990 per year</p>
                              </a>
                              <!-- Job 1 - END -->

                              <!-- Job 2 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-375566" class="job" target="_blank">
                                   <span class="number">2</span>
                                   <h2 class="heading-xs">Apprentice School Science Laboratory Technician</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£17,500 per year</p>
                              </a>
                              <!-- Job 2 - END -->

                              <!-- Job 3 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/1000000481" class="job" target="_blank">
                                   <span class="number">3</span>
                                   <h2 class="heading-xs">Data Science - Digital Technology Apprenticeship</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£16,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 3 - END -->

                              <!-- Job 4 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-362261" class="job" target="_blank">
                                   <span class="number">4</span>
                                   <h2 class="heading-xs">Apprentice Laboratory Technician</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Newcastle Upon Tyne</h3>
                                   <p>£12,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 4 - END -->

                              <!-- Job 5 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-378703" class="job" target="_blank">
                                   <span class="number">5</span>
                                   <h2 class="heading-xs">Science Technician Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>London</h3>
                                   <p>£11,958 - £14,958 per year</p>
                              </a>
                              <!-- Job 5 - END -->

                         </div>
                    </section>
                    <!-- /////////////////////// JOBS SECTION - END /////////////////////// -->

               </main>

               <!-- /////////////////////// NEW QUOTES - START /////////////////////// -->
               <section class="real-stories-quotes main-content">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds">
                              <div class="quote-wrapper">
                                   <div class="caption">
                                        <span class="caption-icon"></span>
                                        <h2 class="heading-xs caption-text">Apprentice real stories</h2>
                                   </div>
                                   <h1 class="heading-l">Earn & Learn While Getting Qualifications</h1>
                                   <p>
                                        I've always known that a career within the science field was for me. During my last year
                                        of A-levels I started looking for science-based degree apprenticeships and found companies
                                        like GSK.
                                   </p>
                                   <p>
                                        Alongside applying for apprenticeships, I also applied to study biological
                                        science at university. I was successful with my application to GSK's laboratory apprenticeship
                                        scheme. I also had 5 university offers.
                                   </p>
                                   <p>
                                        Taking the apprenticeship route was a no-brainer for
                                        me as it would provide me with hands-on experience, a fully funded degree in my chosen
                                        field of bioscience and a competitive salary working for GSK.
                                   </p>
                                   <p>
                                        <a href="/campaign/real-stories/apprentices">View more sucess stories</a>
                                   </p>
                              </div>
                         </div>
                         <div class="grid-column-one-third">
                              <div class="quote-block-black">
                                   <blockquote>
                                        <div class="quote"></div>
                                        <h2>
                                             By the end of my apprenticeship I will have a university degree as well as five
                                             years of industrial experience, making me very employable compared to a graduate
                                             who has taken a university route.
                                        </h2>
                                        <div class="cite">
                                             Hajra Bibi, 23
                                             <span class="cite-detail-job-title">
                                                  Level 6 Standard for Laboratory Scientists
                                             </span>
                                        </div>
                                   </blockquote>
                                   <div class="logo">
                                        <p>GlaxoSmithKline</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </section>
               <!-- /////////////////////// NEW QUOTES - END /////////////////////// -->

               <!-- /////////////////////// EMPLOYER NEW QUOTES - START /////////////////////// -->
               <section class="real-stories-quotes main-content right-aligned-quotes employer-quotes second-quote">
                    <div class="grid-row">
                         <div class="grid-column-one-third">
                              <div class="quote-block-black">
                                   <blockquote>
                                        <div class="quote"></div>
                                        <h2>
                                             Apprentices are our workforce of the future and we have invested in growing our own trained staff. 98%
                                             of our apprentices go on to employment - 92% stay within the organisation
                                        </h2>
                                        <div class="cite">
                                             Annie Cook, 47
                                             <span class="cite-detail-job-title">
                                                  Norfolk & Norwich University Hospital NHS Foundation Trust
                                             </span>
                                        </div>
                                   </blockquote>
                                   <div class="logo">
                                        <p>NHS</p>
                                   </div>
                              </div>
                         </div>
                         <div class="grid-column-two-thirds">
                              <div class="quote-wrapper">
                                   <div class="caption">
                                        <span class="caption-icon"></span>
                                        <h2 class="heading-xs caption-text">Employer real stories</h2>
                                   </div>
                                   <h1 class="heading-l">Apprentices are our workforce of the future</h1>
                                   <h2 class="heading-xs">How do you find the right training for your apprentices?</h2>
                                   <p>
                                        We match all our apprentice job descriptions with an apprenticeship standard or framework, and then
                                        work collaboratively with the training providers to facilitate delivery
                                   </p>
                                   <h2 class="heading-xs">How do you collaborate with your training provider?</h2>
                                   <p>
                                        We have strong working relationships with our providers and so they are fully aware of our needs as a business,
                                        and also how we support our apprentices
                                   </p>
                                   <h2 class="heading-xs">How do you find the right apprentices?</h2>
                                   <p>
                                        We advertise all our vacancies on NHS Jobs and the Trust website, and we recruit to our PRIDE values (People focussed,
                                        Respect, Integrity, Dedication and Excellence)
                                   </p>
                                   <h2 class="heading-xs">What help did you have with the process?</h2>
                                   <p>
                                        One of the Apprenticeship Team always interviews with the recruiting manager to ensure all candidates
                                        are aware of the requirements of the apprenticeship
                                   </p>
                                   <p>
                                        <a href="/campaign/real-stories/employers">View more sucess stories</a>
                                   </p>
                              </div>
                         </div>
                    </div>
               </section>
               <!-- /////////////////////// EMPLOYER NEW QUOTES - END /////////////////////// -->

               <blockquote id="employer-quote" class="full-width end-of-page">
                    <div class="content-wrapper">
                         <div class="quote"></div>
                         <h2>
                              Apprentices are our workforce of the future and we have invested in growing our own trained staff. 98% of our
                              apprentices go on to employment - 92% stay within the organisation
                         </h2>
                         <div class="cite">
                              Annie Cook
                              <span class="cite-detail">
                                   Norfolk & Norwich University Hospital NHS Foundation Trust
                              </span>
                         </div>
                    </div>
               </blockquote>

               <!-- <blockquote class="full-width end-of-page">
                    <div class="content-wrapper">
                         <div class="quote"></div>
                         <h2>
                              By the end of my apprenticeship I will have a university degree as well as five years of
                              industrial experience, making me very employable compared to a graduate who has taken a
                              university route
                         </h2>
                         <div class="cite">
                              Hajra Bibi
                              <span class="cite-detail">
                                   GlaxoSmithKline
                              </span>
                         </div>
                    </div>
               </blockquote> -->

               {% include '../components/footer/_footer.html'%}

               <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          </div>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
