<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Protective services</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template apprentice">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap">

               {% include '../components/header/_header.html'%}

               {% include '../components/header-interests/_13-protective-services.html'%}

               <main class="main-content interests-page">

                    <!-- /////////////////////// JOBS SECTION - START /////////////////////// -->
                    <section class="sector-jobs">
                         <h1 class="heading-m">top 5 apprenticehsips in Protective services</h1>

                         <div class="jobs-wrapper">

                              <!-- Job 1 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-376819" class="job" target="_blank">
                                   <span class="number">1</span>
                                   <h2 class="heading-xs">Police Community Support Officer - Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Preston</h3>
                                   <p>£18,990 per year</p>
                              </a>
                              <!-- Job 1 - END -->

                              <!-- Job 2 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-344846" class="job" target="_blank">
                                   <span class="number">2</span>
                                   <h2 class="heading-xs">Accelerated Apprentice Scheme (Marine Engineer) – Royal Navy</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£17,500 per year</p>
                              </a>
                              <!-- Job 2 - END -->

                              <!-- Job 3 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-344821" class="job" target="_blank">
                                   <span class="number">3</span>
                                   <h2 class="heading-xs">Accelerated Apprentice Scheme (Weapon Engineer) – Royal Navy</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£16,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 3 - END -->

                              <!-- Job 4 - START -->
                              <a href="#" class="job" target="_blank">
                                   <span class="number">4</span>
                                   <h2 class="heading-xs">Police Community Support Officer</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Newcastle Upon Tyne</h3>
                                   <p>£12,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 4 - END -->

                              <!-- Job 5 - START -->
                              <a href="#" class="job" target="_blank">
                                   <span class="number">5</span>
                                   <h2 class="heading-xs">Army engineer</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>London</h3>
                                   <p>£11,958 - £14,958 per year</p>
                              </a>
                              <!-- Job 5 - END -->

                         </div>
                    </section>
                    <!-- /////////////////////// JOBS SECTION - END /////////////////////// -->

               </main>

               <!-- /////////////////////// NEW QUOTES - START /////////////////////// -->
               <section class="real-stories-quotes main-content">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds">
                              <div class="quote-wrapper">
                                   <div class="caption">
                                        <span class="caption-icon"></span>
                                        <h2 class="heading-xs caption-text">Real stories</h2>
                                   </div>
                                   <h1 class="heading-l">A Stepping-Stone To A Professional Career</h1>
                                   <p>
                                        I had applied for a different brigade prior to obtaining my position in Staffordshire. I
                                        spoke to local firefighters and had taken part in several have-a-go days for different brigades.
                                        I was very disappointed at not making it through the process previously, so I was very keen to
                                        find a suitable brigade.
                                   </p>
                                   <p>
                                        I looked online and came across Staffordshire. I understood it was an
                                        apprenticeship but it would still guarantee full time service after the training. I found this
                                        refreshing and something I was very interested in. I continued to speak to a few contacts I had
                                        in other brigades but they varied in their style of recruitment.
                                   </p>
                                   <p>
                                        I had an affinity with Staffordshire Fire and Rescue Service. I felt I could adopt their ways
                                        and the morals they stand by as a brigade. I searched through the Internet and social media to
                                        try and obtain as much information about the brigade as possible and give myself the best
                                        opportunity at being recruited.
                                   </p>
                                   <p>
                                        <a href="/campaign/real-stories/apprentices">View more sucess stories</a>
                                   </p>
                              </div>
                         </div>
                         <div class="grid-column-one-third">
                              <div class="quote-block-black">
                                   <blockquote>
                                        <div class="quote"></div>
                                        <h2>
                                             My apprenticeship will give me the best stepping stone to become a highly trained
                                             firefighter, with regular assessments and development days.
                                        </h2>
                                        <div class="cite">
                                             Claire Lester, 25
                                             <span class="cite-detail-job-title">
                                                  Operational Firefighter Apprentice
                                             </span>
                                        </div>
                                   </blockquote>
                                   <div class="logo">
                                        <p>Staffordshire Fire<br>and Rescue</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </section>
               <!-- /////////////////////// NEW QUOTES - END /////////////////////// -->

               <!-- <blockquote class="full-width end-of-page">
                    <div class="content-wrapper">
                         <div class="quote"></div>
                         <h2>
                              My apprenticeship will give me the best stepping stone to become a highly trained firefighter, with
                              regular assessments and development days
                         </h2>
                         <div class="cite">
                              Claire Lester, 25
                              <span class="cite-detail-job-title">
                                   Operational firefighter apprentice
                              </span>
                              <span class="cite-detail">
                                   Staffordshire Fire an Rescue
                              </span>
                         </div>
                    </div>
               </blockquote> -->

               {% include '../components/footer/_footer.html'%}

               <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          </div>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
