<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Digital</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap">

               {% include '../components/header/_header.html'%}

               {% include '../components/header-interests/_7-digital.html'%}

               <main class="main-content interests-page">

                    <!-- /////////////////////// JOBS SECTION - START /////////////////////// -->
                    <section class="sector-jobs">
                         <h1 class="heading-m">top 5 apprenticehsips in Digital</h1>

                         <div class="jobs-wrapper">

                              <!-- Job 1 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-361153" class="job" target="_blank">
                                   <span class="number">1</span>
                                   <h2 class="heading-xs">Digital Marketer Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Preston</h3>
                                   <p>£18,990 per year</p>
                              </a>
                              <!-- Job 1 - END -->

                              <!-- Job 2 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-380059" class="job" target="_blank">
                                   <span class="number">2</span>
                                   <h2 class="heading-xs">Apprentice Digital Assistant</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£17,500 per year</p>
                              </a>
                              <!-- Job 2 - END -->

                              <!-- Job 3 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-380245" class="job" target="_blank">
                                   <span class="number">3</span>
                                   <h2 class="heading-xs">Creative Digital Media Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£16,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 3 - END -->

                              <!-- Job 4 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-376828" class="job" target="_blank">
                                   <span class="number">4</span>
                                   <h2 class="heading-xs">Digital and Content Producer Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Newcastle Upon Tyne</h3>
                                   <p>£12,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 4 - END -->

                              <!-- Job 5 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-108250" class="job" target="_blank">
                                   <span class="number">5</span>
                                   <h2 class="heading-xs">IT Technical Engineer</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>London</h3>
                                   <p>£11,958 - £14,958 per year</p>
                              </a>
                              <!-- Job 5 - END -->

                         </div>
                    </section>
                    <!-- /////////////////////// JOBS SECTION - END /////////////////////// -->

               </main>

               <!-- /////////////////////// NEW QUOTES - START /////////////////////// -->
               <section class="real-stories-quotes main-content">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds">
                              <div class="quote-wrapper">
                                   <div class="caption">
                                        <span class="caption-icon"></span>
                                        <h2 class="heading-xs caption-text">Real stories</h2>
                                   </div>
                                   <h1 class="heading-l">Whether You're Seeking A New Career Or Looking to Update Your Skillset</h1>
                                   <p>
                                        I started by looking into what types of apprenticeships were on offer. I wanted to develop
                                        my learning, so I really liked the idea of a degree apprenticeship. I then came across
                                        BT's degree apprenticeships.
                                   </p>
                                   <p>
                                        My favourite subject at sixth form was information and
                                        communications technology, so I knew I wanted to work within this field. I began to look
                                        into the TV and digital media apprenticeship.
                                   </p>
                                   <p>
                                        I learnt that I would get a degree as well
                                        as rotating around various teams within the organisation. That's when I decided that
                                        this was the right apprenticeship for me.
                                   </p>
                                   <p>
                                        <a href="/campaign/real-stories/apprentices">View more sucess stories</a>
                                   </p>
                              </div>
                         </div>
                         <div class="grid-column-one-third">
                              <div class="quote-block-black">
                                   <blockquote>
                                        <div class="quote"></div>
                                        <h2>
                                             It was amazing to see the range of apprenticeships and how they varied from each other.
                                             There's an apprenticeship out there for anyone whether you're just beginning learning
                                             or wanting to develop!
                                        </h2>
                                        <div class="cite">
                                             Kate Self, 20
                                             <span class="cite-detail-job-title">
                                                  TV, Digital and Media Apprenticeship
                                             </span>
                                        </div>
                                   </blockquote>
                                   <div class="logo">
                                        <p>BT</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </section>
               <!-- /////////////////////// NEW QUOTES - END /////////////////////// -->

               {% include '../components/footer/_footer.html'%}

               <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          </div>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
