<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 3 - Choose a training provider</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/_em-3-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-3 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <p id="heading1">
                               You will need to choose a training provider to train your apprentice.
                          </p>

                          <p>
                              <a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank" rel="external" class="external" id="link-fat">Find apprenticeship training</a> will help
                              you search for one by location, job role or keyword.
                          </p>

                          <p>Your training provider can provide you with as much help and support as you need when you take on an apprentice.

                          </p>

                          <p>
                              Your training provider may also be able to help with:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>finding the right apprenticeship for you</li>
                              <li>preparing your apprentice for your organisation</li>
                              <li>making sure your apprentice is working in the appropriate environment</li>
                              <li>finding the right pace of learning for your apprentice</li>
                              <li>working with you to make sure your apprentice is learning the relevant skills</li>
                          </ul>

                          <h2 class="heading-m" id="heading2">Misunderstandings and myths</h2>

                          <p>
                              There are some misunderstandings and myths about what you can and can't do when hiring an apprentice.
                              Here are a couple of examples:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>you can only work with one training provider at a time - not true, you can use any number training providers</li>
                              <li>
                                  you can't get funding for over 24's - not true, you can get funding for
                                  apprenticeships depending on both your circumstances
                              </li>
                          </ul>

                          <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div>

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--previous" href="/campaign/employer/2-the-right-apprenticeship">
                                        The right apprenticeship
                                   </a>
                              </li>
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--next" href="/campaign/employer/4-hire-an-apprentice">
                                        Hire an apprentice
                                   </a>
                              </li>
                          </ul>

                    </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-choose-training-provider.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS FOR HIRING APPRENTICES</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar-employer.html'%}
                        </div>
                        {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/faa-fat/_resources-links.html'%}

    {% include '../components/footer/_footer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
