<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Construction</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         What does a new housing estate and Crossrail have in common? They both employ apprentices.
                    </p>

                    <p>
                         Construction is a multi-billion pound industry that deals with developing the
                         underlying structure of anything from a new build, to HS2 rail projects.
                    </p>

                    <p>
                         Traditional and specialist apprenticeships cover a range of occupations, from
                         groundworks and plant maintenance to civil engineering and joinery. Meanwhile, those
                         with a flair for being organised could help make sure projects run on time and within
                         budget, liaise with suppliers, or assist a civil engineer with design plans.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Construction includes:</dt>
                         <dd>Building Services Design Technician</dd>
                         <dd>Building Services Engineering Ductwork Craftsperson</dd>
                         <dd>Digital Engineering Technician</dd>
                    </dl>
               </div>

               {% include '../faa-fat/_5-construction-faa.html'%}

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/construction/649x995/construction-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
