<div class="hero fat-hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/FAT/1-FAT-search">Search apprenticeships</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/2A-FAT-search-results">Search results...</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Search results...</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph no-bottom-margin">
                         There are <strong>36</strong> apprenticeships.
                         <!-- There are <strong class="fat-value"></strong> apprenticeships. -->
                         <!-- , for <strong class="fat-job-title"></strong>. -->
                    </p>
                    <!-- <p>Results labelled <span class="new">new</span> are apprenticeship standards developed by employer groups</p> -->
               </div>

               <!-- <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a> -->
          </div>
     </div>
</div>
