<div class="hero FAT-basket">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/employer/1-how-much-is-it-going-to-cost">Employer</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/1-FAT-Search">Save the training provider</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Save the training provider</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Ready to hire an apprentice? Save this training provider and go to gov.uk to create your account.
                    </p>
                    <div class="cta-row">

                         <form method="post" action="https://esfa-shopping-basket.herokuapp.com/favourites-V5/V4/index">
                             <input type="hidden" value="" id="standard-title" name="standard-title" />
                             <input type="hidden" value="" id="provider-name" name="provider-name" />
                             <input type="submit" class="button button--shadow button--sparks" value="Yes, save training provider" id="save-this-standard" />
                             <p class="lead-paragraph secondary-cta"><a href="javascript:history.back()" class="">Cancel</a></p>
                         </form>

                    </div>
               </div>
          </div>
          <div class="grid-column-one-half">
               <div class="gov-uk-image-wrapper">
                    <img class="gov-uk-image" src="/dist/campaign/images/fat-screen-shot.jpg">
               </div>
          </div>
     </div>
</div>
