<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--apprentice">
                         <a href="/campaign/apprentice/1-what-is-an-apprenticeship">Apprentice</a>
                         <div class="sep">></div>
                         <a href="/campaign/apprentice/what-are-the-benefits-for-me">What are the benefits for me?</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">What are the benefits for me?</h1>
               </div>

               <ul class="list list--arrows">
                    <li><a href="#heading1" class="hero__link scroll" data-offset="100">What are my future prospects once I’ve successfully qualified?</a> </li>
                    <li><a href="#heading2" class="hero__link scroll" data-offset="100">How much can you earn?</a> </li>
                    <li><a href="#heading3" class="hero__link scroll" data-offset="100">What will my apprenticeship cost me?</a> </li>
               </ul>
               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
