<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--apprentice">
                         <a href="/campaign/apprentice/1-what-is-an-apprenticeship">Apprentice</a>
                         <div class="sep">></div>
                         <a href="/campaign/apprentice/5-your-apprenticeship">YOUR APPRENTICESHIP</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">YOUR APPRENTICESHIP</h1>

               </div>

               <ul class="list list--arrows">
                    <li><a href="#heading1" class="hero__link scroll" data-offset="100">What to bring, and other useful info</a></li>
                    <li><a href="#heading2" class="hero__link scroll" data-offset="100">Meet your new team</a></li>
                    <li><a href="#heading3" class="hero__link scroll" data-offset="100">First an apprenticeship, now a career!</a></li>
               </ul>
               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
