<div class="hero fat-hero no-side-nav">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/FAT/1-FAT-search">Search apprenticeships</a>
                         <div class="sep">></div>
                         <a href="/campaign/FAT/4A-FAT-training-provider-results">Training provider results</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading">Training provider results</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph no-bottom-margin">
                         There are <strong>35</strong> training options for the <strong class="fat-apprenticeship-title">Apprenticeship title</strong>,
                         level 3 apprenticeship, results are ordered by distance from '<strong class="fat-search-location">CV32 7EE</strong>'.
                    </p>
                    <!-- <p>Or enter another postcode to search in a different location.</p>
                    <section class="faa-fat-link-block cta-fat search">
                         <div class="cta-fat__action">
                              <input type="search" id="fat-search-postcode" placeholder="Your postcode..." class="">
                              <a id="link-FAT-search-provider" href="/campaign/FAT/4A-FAT-training-provider-results?id={{id}}" class="button button--shadow button--sparks search link-FAT-search"><span class="search"></span>Search</a>
                         </div>
                    </section> -->
               </div>
          </div>
     </div>
</div>
