<!-- <a href="/campaign/employer/2-the-right-apprenticeship">Search apprenticeships</a> -->
<div class="hero FAT-basket FAT-save-standard">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&#60; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">START A CONVERSATION</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         If you want to find out more about your favourite training providers, it’s time to start a conversation.
                         Share your details so we can ask them to contact you.
                    </p>
                    <!-- <p class="lead-paragraph">
                    </p> -->
                    <div class="cta-row">
                         <form method="post" action="https://esfa-shopping-basket.herokuapp.com/sprint-17/V7/index">
                              <div class="pass-form-data"></div>
                              <div class="primary-cta">
                                   <p>
                                        It's a great time to set up your Apprenticeship Service account -
                                        the only extra thing we'll need from you is a password.
                                   </p>
                                   <input type="submit" class="button button--shadow button--sparks" value="CONTINUE WITH ACCOUNT" id="save-this-standard" />
                              </div>
                         </form>
                         <form method="get" action="/campaign/register/share-me">
                              <div class="pass-form-data"></div>
                              <div class="secondary-cta">
                                   <!-- <h2 class="heading-m no-top-margin no-bottom-margin">No account</h2> -->
                                   <p class="">
                                        If you’d prefer, you can choose to share your details without creating an account.
                                   </p>
                                   <input type="submit" class="button button--shadow button--sparks" value="CONTINUE AS A GUEST" id="share-this-standard" />
                              </div>
                         </form>
                    </div>
                    <p class="lead-paragraph secondary-cta"><a href="javascript:history.back()" class="">Back</a></p>
               </div>
          </div>
     </div>
</div>
