<div class="hero">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="/campaign/FAT/1-FAT-search">The right apprenticeship</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title">The right apprenticeship</h1>
               </div>

               <div class="text-wrapper">

                    <p class="lead-paragraph no-top-margin">For employers looking to take on apprentices.</p>
                    <p>Use this search to:</p>
                    <ul>
                         <li>look for apprenticeship training by job role or keyword</li>
                         <li>find training providers who offer the apprenticeship training you choose</li>
                         <li>save apprenticeships and named training providers you're interested in</li>
                    </ul>
               </div>

               {% include '../faa-fat/_fat-search-header.html' %}

               <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          </div>
     </div>
</div>
