<div class="hero fat-hero no-side-nav">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&#60; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading fat-training-provider-title" id="apprenticeship-title">Trainging provider title</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">
                         Add this training provider to your list of favourites to save it for later or start a conversation.
                    </p>
                    <div class="cta-row">
                         <div class="form-group radios">
                              <div class="checkboxes__item save-label">
                                   <input class="checkboxes__input checkbox-save-provider" type="checkbox" value="true" id="save-{{ providerId }}" name="save-{{ providerId }}">
                                   <label class="label checkboxes__label" for="save-{{ providerId }}">Add to favourites</label>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
