<div class="hero fat-hero no-side-nav" id="em-FAT-3-header">
     <div class="grid-row">
          <div class="grid-column-two-thirds">
               <div class="hero-heading">

                    <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                         <a href="javascript:history.back()">&#60; &nbsp; Back</a>
                    </span>
                    <h1 class="heading-xl hero-heading__heading fat-apprenticeship-title" id="apprenticeship-title">Apprenticeship title</h1>
               </div>

               <div class="text-wrapper">
                    <p class="lead-paragraph">This information is taken from an apprenticeship framework. It sets out what qualifications the apprentice can achieve.</p>
                    <div class="cta-row">
                         <div class="form-group radios">
                              <div class="checkboxes__item save-label">
                                   <input class="checkboxes__input checkbox-save" type="checkbox" value="true" id="save-{{ id }}" name="save-{{ id }}">
                                   <label class="label checkboxes__label" for="save-{{ id }}">Add to favourites</label>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

          <div class="grid-column-one-third">
               <div class="sidebar sidebar--employer FAT-basket">
                    <div class="shopping-basket">
                         {% include '../faa-fat/_fat-search-location-header.html' %}
                    </div>
               </div>
               <div class="anchor-wrapper">
                    <a href="#" id="back-to-top"><span></span>Back to the top</a>
               </div>
          </div>

     </div>
     <div class="background-image"></div>
</div>
