<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <title>FIRE IT UP! - Apprenticeships</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#0b0c0c" />

     <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
     <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
     <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
     <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

     <!--[if !IE 8]><!-->

     <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">


     <!--<![endif]-->

     <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template hub-page employer-page" id="hub-page-B">

     <script>
          document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
     </script>

     <a href="#main-content" class="skip-link">Skip to main content</a>

     <div class="wrap">

          {% include './components/header/_header-employer.html'%}

          <main class="hub-page employer">

               {% include './components/hero-banner/_hero-banner-hub-employer.html'%}

               <!-- ////////////////// EMPLOYER JOURNEY - START //////////////////-->
               <div class="main-content hub-page top-section">

                    <!-- ==== SECTION 1 - START ==== -->
                    <section class="journey-section section-1">
                         <div class="border visually-hidden">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image" data-aos="fade-right">
                              <img src="/dist/campaign/images/employer/journey-section-1.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">EXPLORE YOUR OPTIONS</h3>
                              <p>
                                   Still deciding whether apprenticeships are right for your business? Take a look around
                                   – we’ve gathered plenty of valuable hints and tips to help you make your decision.
                              </p>
                              <p>
                                   <a href="#hub-content" class="">Where should I start?</a>
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 1 - END ==== -->

                    <!-- ==== SECTION 2 - START ==== -->
                    <section class="journey-section section-2">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image" data-aos="fade-left">
                              <img src="/dist/campaign/images/employer/journey-section-2.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">SHAPE YOUR APPRENTICESHIP</h3>
                              <p>
                                   When you’re ready to begin your search, <a href="/campaign/employer/2-the-right-apprenticeship">use our online tool</a> to find
                                   the right apprenticeship for your business and team up with your favourite training provider.
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 2 - END ==== -->

                    <!-- ==== SECTION 3 - START ==== -->
                    <section class="journey-section section-3">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image" data-aos="fade-right">
                              <img src="/dist/campaign/images/employer/journey-section-3.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">SPREAD THE WORD</h3>
                              <p>
                                   Next, you’ll need to create a vacancy. You can work with your training provider to do this,
                                   or you could complete it yourself – the choice is yours. Once your vacancy has been
                                   approved, it will be <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">advertised here</a> for free. On average, this service is accessed over
                                   260,000 times each week, so it’s the ideal place to promote your apprenticeship.
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 3 - END ==== -->

                    <!-- ==== SECTION 4 - START ==== -->
                    <section class="journey-section section-4">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image" data-aos="fade-left">
                              <img src="/dist/campaign/images/employer/journey-section-4.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">CHOOSE YOUR APPRENTICE</h3>
                              <p>
                                   Now for the exciting bit – choosing your apprentice. You can manage the applications
                                   using our online tool or via your own website, and you could join forces with your
                                   training provider to work out who’s the right fit.
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 4 - END ==== -->

                    <!-- ==== SECTION 5 - START ==== -->
                    <section class="journey-section section-5">
                         <div class="border">
                              <span class="spot top"></span>
                              <span class="spot bottom"></span>
                         </div>
                         <div class="image" data-aos="fade-right">
                              <img src="/dist/campaign/images/employer/journey-section-5.svg" />
                         </div>
                         <div class="text">
                              <h3 class="heading-m">FIRE IT UP</h3>
                              <p>
                                   Congratulations – you’ve hired an apprentice! The successful applicant will be added to your
                                   account, and you’ll soon experience the energy, talent and enthusiasm an apprentice brings.
                              </p>
                         </div>
                    </section>
                    <!-- ==== SECTION 5 - END ==== -->

               </div>
               <!-- ////////////////// EMPLOYER JOURNEY - END //////////////////-->

               <!-- ==== TITLE - START ==== -->
               <section class="full-width title-container hub-title-container">
                    <div class="content-wrapper">
                         <h2 class="heading-l" id="hub-content">I’d like to find out more – where should I start?</h2>
                         <p>
                              Whether you’re just beginning your apprenticeship journey or you have a few last-minute questions, you’ll find all the key details below.
                         </p>
                    </div>
               </section>
               <!-- ==== TITLE - END ==== -->

               <!-- ////////////////// Row 1 - START //////////////////-->
               <div class="grid-row-full-width card__collection card__collection--hub-employer">

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer/1-how-much-is-it-going-to-cost">
                              <div class="card__image">
                                   <span class="card__img card__img--employer-1"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Funding your apprenticeship</h2>
                                   <p class="card__summary">
                                        You can get help from the government to pay for apprenticeship training and
                                        assessment. The amount you get depends on whether you pay the apprenticeship
                                        levy or not.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer/2-the-right-apprenticeship">
                              <div class="card__image">
                                   <span class="card__img card__img--employer-2"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Finding the right apprenticeship</h2>
                                   <p class="card__summary">
                                        Once you’ve decided to get started, you’ll need to seek out the right
                                        apprenticeship to suit your business needs. We’ve got lots of information
                                        and a search tool to help you find the right match.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer/3-choose-training-provider">
                              <div class="card__image">
                                   <span class="card__img card__img--employer-3"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Choosing a training provider</h2>
                                   <p class="card__summary">
                                        Apprentices spend at least 20% of their time on off-the-job training, so
                                        you’ll need to choose a training provider to carry this out. Our online tool
                                        will help you search by location, job role or keyword.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

                    <div class="grid-column-full-width-one-quarter">
                         <a class="card" href="/campaign/employer/4-catering-hospitality">
                              <div class="card__image">
                                   <span class="card__img card__img--employer-4"></span>
                              </div>
                              <div class="card__content">
                                   <h2 class="card__headline heading-s">Hiring an apprentice</h2>
                                   <p class="card__summary">
                                        When the apprenticeship and training provider are in place, it’s time to find
                                        the right person to become your new apprentice. Read our guide to making
                                        that all-important decision.
                                   </p>
                                   <p class="card__link">Find out more</p>
                              </div>
                         </a>
                    </div>

               </div>
               <!-- ////////////////// Row 1 - END //////////////////-->

               <!-- ////////////////// FAT UPSELL - START //////////////////-->
               <div class="upsell-component main-content">
                    <div class="grid-row">
                         <div class="grid-column-full">
                              <h2 class="heading-l">Apprenticeship training for your business</h2>
                              <p>
                                   Search for the ideal apprenticeship training that fits with your business
                                   needs and<br>start the journey of taking on an apprentice.
                              </p>
                              <div class="cta-row">
                                   <div class="left">
                                        <a href="/campaign/FAT/1-FAT-search" class="button button--sparks button--shadow external button--employer">find apprenticeship training</a>
                                   </div>
                                   <div class="right">
                                        <h3 class="heading-s">Call the National apprenticeship service</h3>
                                        <p class="heading-xl">0800 015 0600</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- ////////////////// FAT UPSELL - END //////////////////-->

               <!-- ////////////////// EMPLOYER SIGN UP/IN - START //////////////////-->
               <div class="sign-in-component">
                    <div class="grid-row main-text main-content">
                         <div class="grid-column-one-half">
                              <h2 class="heading-l">RE-energise your business</h2>
                              <p>
                                   If you’re thinking about taking on an apprentice you can register your
                                   interest below and receive updates of new apprenticeships offered and
                                   latest updates.
                              </p>
                              <a href="/campaign/register/register-interest" class="button button--sparks button--shadow">Register interest</a>
                         </div>
                         <div class="grid-column-one-half">
                              <h2 class="heading-l">Already have a  account?</h2>
                              <p>
                                   If you’ve already registered on the apprenticeship service you can
                                   continue to your account to manage your apprentices and see your current
                                   funds. 
                              </p>
                              <a href="#" class="button button--sparks button--shadow external black-button" rel="external"><span></span>go to my account</a>
                         </div>
                    </div>
                    <div class="grid-row t-and-cs main-content">
                         <div class="grid-column-full">
                              <p class="small-text">
                                   **If your annual pay bill is more than £3 million you will pay the
                                   apprenticeship levy and register an account on the apprenticeship
                                   service to manage your apprenticeships and see your funds. If you
                                   don’t pay the apprenticeship levy - for the time being, you will
                                   manage your apprentices directly with your chosen training provider.
                              </p>
                         </div>
                    </div>
               </div>
               <!-- ////////////////// EMPLOYER SIGN UP/IN - START //////////////////-->

               <!-- ////////////////// EMPLOYER CASE STUDY - START //////////////////-->
               <div class="grid-row hero-banner hero-banner--employer">
                    <div class="grid-column-full">
                         <div class="grid-row hero-banner__content">
                              <div class="grid-column-one-half hero-banner__content-main">
                                   <div class="hero-banner__caption">
                                        <span class="hero-banner__caption-icon"></span>
                                        <span class="hero-banner__caption-text">Real employer stories</span>
                                   </div>
                                   <h3 class="hero-banner__header">A real win-win for businesses, large and small</h3>
                                   <p class="hero-banner__copy">
                                        "The business, the organisation, and our managers here know the value that someone
                                        who has gone through an apprenticeship brings."
                                   </p>
                                   <p class="hero-banner__cite">Annie Cook, <span class="hero-banner__cite-detail">NHS Career Development Coordinator</span></p>
                                   <a class="hero-banner__link" href="/campaign/real-stories/employer">View more employer stories</a>
                              </div>
                              <div class="grid-column-one-half  hero-banner__icon-play-container">
                                   <a class="hero-banner__icon-play" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="plyr-2" data-videourl="https://www.youtube.com/embed/jAoi3oE8klw?origin=https://das-at-frnt-end.azureedge.net&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
                              </div>
                         </div>
                         <span class="hero-banner__background hero-banner__background--employer-annie"></span>
                    </div>
               </div>
               <!-- ////////////////// EMPLOYER CASE STUDY - END //////////////////-->

          </main>

          {% include './components/faa-fat/_resources-links.html'%}

          {% include './components/footer/_footer-employer.html'%}

          <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          <!-- {% include './components/cookieBanner/_cookieBanner.html'%} -->
          </div>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include './components/footer/_scripts.html'%}

     </body>

</html>
