<div id="basket-confirm-panel">
     <!-- <span></span> -->
     <div class="content">
          <div>
               <h1 class="heading-m">Save your favourites</h1>
               <p>
                    Save your favourites to access them from another device and to share your list.
                    We won’t email unless you ask us to, we only use this address to save your list.
               </p>
          </div>
          <div>
               <a href="/campaign/FAT/FAT-basket" class="button button--shadow">Save my favourites</a>
          </div>
     </div>
</div>
