<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>FIRE IT UP! - Find apprenticeship training</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template employer-section-fat employer-page" id="page-fat-training-provider" data-id="{{ id }}" data-providerId="{{ providerId }}" data-page-id="5">


          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap fat-search">

               {% include '../components/header/_header-employer.html'%}
               {% include '../components/hero-heading/_em-FAT-5A-hero-heading.html' %}

               {% include '../components/confirmation/_shopping-basket.html' %}

               <main id="main-content" class="main-content page-app-5-FAT employer">

                    <div class="grid-row"  id="flex-direction-change">
                         <div class="grid-column-two-thirds">

                              <div class="page">

                                   <h2 class="heading-l no-top-margin">Training information</h2>

                                   <dl class="data-list">
                                        <dt>Apprenticeship:</dt>
                                        <dd class="fat-search-keyword">Business Administrator</dd>

                                        <dt>Level: </dt>
                                        <dd>3 (equivalent to A levels at grades A to E)</dd>

                                        <dt class="training-structure">Training options:</dt>
                                        <dd id="delivery-modes" class="icon-alerts">

                                             <ul class="list list--bullet list--bullet-employer">
                                                  <li class="day-release-absent icon-right">
                                                       <span class="icon-content">day release</span>
                                                       <span class="feedback no"></span>
                                                  </li>
                                                  <li class="block-release-absent icon-right">
                                                       <span class="icon-content">block release</span>
                                                       <span class="feedback no"></span>
                                                  </li>
                                                  <li class="hundred-percent-employer icon-right">
                                                       <span class="icon-content">at your location</span>
                                                       <span class="feedback yes"></span>
                                                  </li>
                                             </ul>

                                             <details>
                                                  <summary><span class="summary">Explain training options</span></summary>
                                                  <div class="panel panel-border-narrow">
                                                       <p>
                                                            <strong>Day release:</strong> for example one day a week at the training provider's location.
                                                       </p>
                                                       <p>
                                                            <strong>Block release:</strong> for example 3-4 weeks at the training provider's location.
                                                       </p>
                                                       <p>
                                                            <strong>At your location:</strong> the training provider comes to your workplace.
                                                       </p>
                                                  </div>
                                             </details>
                                        </dd>


                                        <dt>Achievement rates: </dt>
                                        <dd>
                                             <div class="rating">
                                                  <span>Achievement average:</span>
                                                  <strong class="national-rate">65%</strong>
                                                  <div class="progress-container">
                                                       <div class="progressbar" style="width: 65%"></div>
                                                  </div>
                                             </div>
                                             <div class="rating national-achievement-bar">
                                                  <span>National average:</span>
                                                  <strong class="national-rate">70%</strong>
                                                  <div class="progress-container">
                                                       <div class="progressbar" style="width: 70%"></div>
                                                  </div>
                                             </div>
                                             <details class="more-information">
                                                  <summary><span class="summary">Explain achievement rate</span></summary>
                                                  <div class="panel panel-border-narrow">
                                                       <p>Percentage of apprentices who successfully achieved a similar apprenticeship with this training provider.</p>
                                                       <p>Based on the latest data for 50 apprentices.</p>
                                                       <p class="font-small">
                                                            Source: <a href="https://www.gov.uk/government/collections/sfa-national-success-rates-tables" target="_blank" rel="external">Skills Funding Agency apprenticeship achievement rates</a>
                                                       </p>
                                                  </div>
                                             </details>
                                        </dd>
                                   </dl>

                                   <h2 class="heading-m">About the apprenticeship:</h2>
                                   <p>
                                        The <span class="fat-search-keyword">Business Administrator</span> Level 3 Apprenticeship Standard is designed to
                                        develop your skills and knowledge further and enhance your career prospects
                                        in the business world. As a natural progression from the Level 2
                                        Intermediate Business Administration Apprenticeship, this Level
                                        3 Apprenticeship is suitable for anyone working in either of the
                                        following roles:
                                   </p>

                                   <ul class="list list--bullet list--bullet-employer">
                                        <li>Administration Assistant</li>
                                        <li>Personal Assistant</li>
                                        <li class="fat-search-keyword">Business Administrator</li>
                                        <li>Office Assistant</li>
                                        <li>Office Supervisor</li>
                                   </ul>

                                   <h2 class="heading-m">Provider information</h2>
                                   <p>
                                        <span class="fat-training-provider-title">Paragon Skills</span> is a leading Grade 2, Good, Ofsted rated national training
                                        provider delivering first-class apprenticeship programmes across a variety
                                        of sectors including; Adult Care, Childcare & Education, Hair & Beauty,
                                        Customer Experience, Automotive & Marine, Leadership & Management
                                        and Accountancy.
                                   </p>

                                   <p>
                                        We deliver high-quality apprenticeship programmes and employers will
                                        receive customised programmes that fit their unique business to drive
                                        their strategy, whilst learning plans are tailored to each individual
                                        apprentice's needs. All programmes contain the essential elements
                                        expected from an apprenticeship and will lead to an industry-wide
                                        recognised qualification.
                                   </p>

                                   <p class="national-message">
                                        <span class="national">National</span> This training provider is willing to offer apprenticeship training across England.
                                   </p>


                                   <h2 class="heading-m">What employers are saying</h2>
                                   <p>Based on <strong>22 reviews from employers</strong> that work with this training provider.</p>
                                   <p><a href="#">Find out how these reviews work</a></p>

                                   <h2 class="heading-s">Overall rating from October 2018 to now</h2>
                                   <div class="rating reviews">
                                        <p>Excellent</p>
                                        <div class="progress-container">
                                             <div class="progressbar excellent" style="width: 35%"></div>
                                        </div>
                                        <p class="number"><strong>6 reviews <span class="visually-hidden">out of 22</span></strong></p>
                                   </div>
                                   <div class="rating reviews">
                                        <p>Good</p>
                                        <div class="progress-container">
                                             <div class="progressbar good" style="width: 65%"></div>
                                        </div>
                                        <p class="number"><strong>13 reviews <span class="visually-hidden">out of 22</span></strong></p>
                                   </div>
                                   <div class="rating reviews">
                                        <p>Poor</p>
                                        <div class="progress-container">
                                             <div class="progressbar poor" style="width: 15%"></div>
                                        </div>
                                        <p class="number"><strong>2 reviews <span class="visually-hidden">out of 22</span></strong></p>
                                   </div>
                                   <div class="rating reviews">
                                        <p>Very poor</p>
                                        <div class="progress-container">
                                             <div class="progressbar very-poor" style="width: 7.5%"></div>
                                        </div>
                                        <p class="number"><strong>1 review</strong> <span class="visually-hidden">out of 22</span></p>
                                   </div>

                                   <div class="grid-row">
                                        <div class="grid-column-one-half">
                                             <h3 class="heading-s">Strengths</h3>
                                             <ul class="list list--bullet list--bullet-employer">
                                                  <li>Getting new apprentices started <strong>(12)</strong></li>
                                                  <li>Communication with employers <strong>(10)</strong></li>
                                                  <li>Improving apprentice skills <strong>(8)</strong></li>
                                                  <li>Providing the right training at the right time <strong>(8)</strong></li>
                                                  <li>Initial assessment of apprentices <strong>(5)</strong></li>
                                                  <li>Reporting on progress of apprentices <strong>(5)</strong></li>
                                                  <li>Adapting to my needs <strong>(4)</strong></li>
                                                  <li>Training facilities <strong>(1)</strong></li>
                                                  <li>Working with small numbers of apprentices <strong>(1)</strong></li>
                                             </ul>
                                        </div>
                                        <div class="grid-column-one-half">
                                             <h3 class="heading-s">Things to improve</h3>
                                             <ul class="list list--bullet list--bullet-employer ">
                                                  <li>Communication with employers <strong>(6)</strong></li>
                                                  <li>Reporting on progress of apprentices <strong>(5)</strong></li>
                                                  <li>Getting new apprentices started <strong>(3)</strong></li>
                                                  <li>Initial assessment of apprentices <strong>(3)</strong></li>
                                                  <li>Providing the right training at the right time <strong>(3)</strong></li>
                                                  <li>Improving apprentice skills <strong>(2)</strong></li>
                                                  <li>Adapting to my needs <strong>(1)</strong></li>
                                                  <li>Working with small numbers of apprentices <strong>(1)</strong></li>
                                             </ul>
                                        </div>
                                   </div>

                                   <dl class="data-list">
                                        <dt>Employer satisfaction:</dt>
                                        <dd>
                                             <div class="rating rating--inline">
                                                  <strong id="employer-satisfaction" class="rating-86">86%</strong>
                                                  <div class="progress-container">
                                                       <div class="progressbar" style="width: 86%"></div>
                                                  </div>
                                             </div>
                                        </dd>
                                        <dt>Learner satisfaction:</dt>
                                        <dd>
                                             <div class="rating rating--inline">
                                                  <strong id="learner-satisfaction" class="rating-91">91%</strong>
                                                  <div class="progress-container">
                                                       <div class="progressbar" style="width: 91%"></div>
                                                  </div>
                                             </div>
                                             <span class="satisfaction-source font-small">
                                                  Source: <a href="https://www.gov.uk/government/statistical-data-sets/fe-choices-performance-indicators" target="_blank">Skills Funding Agency FE Choices</a>
                                             </span>
                                        </dd>
                                        <dt class="legal-name-title">Legal name:</dt>
                                        <dd id="legal-name" class="legal-name fat-training-provider-title">PARAGON EDUCATION &amp; SKILLS LIMITED</dd>
                                   </dl>

                                   <p class="content-source">Content maintained by <span class="fat-training-provider-title">PARAGON - SKILLS FOR INDUSTRY</span></p>

                                   <h2 class="heading-s">Content disclaimer</h2>
                                   <p>
                                        Education and Skills Funding Agency cannot guarantee the accuracy of
                                        course information on this site and makes no representations about
                                        the quality of any courses which appear on the site. Education and Skills
                                        Funding Agency is not liable for any losses suffered as a result of any party
                                        relying on the course information provided.
                                   </p>

                                   <!-- <div class="cta-row save-and-compare">
                                        <div class="form-group radios">
                                             <div class="checkboxes__item save-label">
                                                  <input class="checkboxes__input" type="checkbox" value="true" id="save-1" name="save-1">
                                                  <label class="label checkboxes__label" for="save-1">Favourite</label>
                                             </div>
                                        </div>
                                   </div> -->

                              </div>

                              <div class="cta-row">
                                   <p class="lead-paragraph">
                                        Like what you see? Add this training provider to your list of favourites.
                                   </p>
                                   <div class="form-group radios">
                                        <div class="checkboxes__item save-label">
                                             <input class="checkboxes__input checkbox-save-provider" type="checkbox" value="true" id="save-{{ providerId }}" name="save-{{ providerId }}">
                                             <label class="label checkboxes__label" for="save-{{ providerId }}">Add to favourites</label>
                                        </div>
                                   </div>
                              </div>

                         </div>

                         <div class="grid-column-one-third">

                              <div class="sidebar sidebar--employer FAT-basket">
                                   <div class="shopping-basket">
                                        {% include '../components/faa-fat/_fat-training-provider-details-5A.html' %}
                                   </div>
                              </div>
                              <div class="anchor-wrapper">
                                   <a href="#" id="back-to-top"><span></span>Back to the top</a>
                              </div>

                         </div>
                    </div>

               </main>

               <!-- ///////////////////// BASKET ALERT COMPONENT - START ///////////////////// -->
               {% include '../components/confirmation/_basket-confirmation.html'%}
               <!-- ///////////////////// BASKET ALERT COMPONENT - END ///////////////////// -->

               {% include '../components/footer/_footer-employer.html'%}

          </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}

     </body>

</html>
