<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-faa interests">
          <div class="cta-faa__content">
               <div class="cta-faa__number">
                    <h1 class="heading-l">5</h1>
                    <p>available</p>
               </div>
               <div>
                    <h2 class="heading-l cta-faa__heading">Search apprenticeships in Protective services</h2>
                    <p>
                         3137 apprenticeships available for you today!
                    </p>
               </div>
          </div>
          <div class="cta-faa__action">
               <div class="form-group">
                    <input type="search" id="faa-search-keyword" placeholder="Job title or keyword...">
               </div>
               <div class="form-group location">
                    <input type="search" id="faa-search-location" q="googlesearch" placeholder="Enter postcode...">
                    <select class="form-control" data-val="true" id="Distance" name="Distance">
                         <option value="2">2 miles</option>
                         <option value="5">5 miles</option>
                         <option selected="selected" value="10">10 miles</option>
                         <option value="15">15 miles</option>
                         <option value="20">20 miles</option>
                         <option value="30">30 miles</option>
                         <option value="40">40 miles</option>
                    </select>
               </div>
               <div class="form-group">
                    <a id="link-FAA-Cta" href="/campaign/apprentice/2B-no-results" class="button button--shadow button--sparks item protective" data-faa-interest="protective"> Search <span class="vh">for an apprenticeship in Protective services</span></a>
               </div>
          </div>
     </section>

</div>
