<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat interests">
          <div class="cta-fat__content">
               <div class="cta-fat__number">
                    <h1 class="heading-l">425</h1>
                    <p>apprenticeships available in England</p>
               </div>
               <div>
                    <h2 class="heading-l cta-fat__heading">We've found 425 apprenticeships in Education and childcare</h2>
                    <p>
                         Search for the right apprenticeship for you!
                    </p>
               </div>
          </div>
          <div class="cta-fat__action">
               <div class="form-group location">
                    <input type="search" id="fat-search-location" q="googlesearch" placeholder="Enter postcode...">
                    <select class="form-control" data-val="true" id="Distance" name="Distance">
                         <option value="2">2 miles</option>
                         <option value="5">5 miles</option>
                         <option selected="selected" value="10">10 miles</option>
                         <option value="15">15 miles</option>
                         <option value="20">20 miles</option>
                         <option value="30">30 miles</option>
                         <option value="40">40 miles</option>
                    </select>
               </div>
               <a id="link-FAT-Cta" href="/campaign/apprentice/2B-no-results" class="button button--shadow button--sparks item education" data-fat-interest="education"> Search <span class="vh">for an apprenticeship in Education and childcare</span></a>
          </div>
     </section>

</div>
