<div id="compare-component">

     <!-- //////////////////////////////// COMPARE APPRENTICESHIPS - START //////////////////////////////// -->
     <div class="wrapper" id="compare-apprenticeships">

          <div class="title-section">
               <h1 class="heading-l">
                    <a href="#" class="back close-compare">Back to list</a>
                    Compare apprenticeships
                    <a href="#" class="close close-compare">Close</a>
               </h1>
          </div>

          <div class="basket-items">

               <!-- ============= ITEM 1 - START ============= -->
               <section class="populated" data-compare-item="1">
                    <div class="empty">
                         <h1 class="heading-m">Add an apprenticeship to compare</h1>
                         <a class="button button--sparks open-list" href="#">Open list</a>
                    </div>

                    <div class="content">
                         <h1 class="heading-s item-title">Business Administrator</h1>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>3 (equivalent to A levels at grades A to E)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Typical length:</p>
                              <p>18 months</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Current funding band:</p>
                              <p>Up to £5,000 per apprentice</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Entry requirements:</p>
                              <div class="content-container" data-view-info="1">
                                   <p>Set by employer</p>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">What apprentices will learn:</p>
                              <div class="content-container" data-view-info="2">
                                   <ul>
                                        <li>using IT systems to write emails, create proposals and produce spreadsheets</li>
                                        <li>maintaining records and files</li>
                                        <li>how to build positive working relationships</li>
                                        <li>communications skills</li>
                                        <li>resource planning</li>
                                        <li>project management techniques</li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="2">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Qualifications:</p>
                              <div class="content-container" data-view-info="3">
                                   <p>
                                        None specified. Before taking their end-point assessment apprentices must achieve level 2 English and maths
                                        (equivalent to GCSE grades 9 to 4 or A* to C)to 4 or A* to C)
                                   </p>
                              </div>
                              <a href="#" class="more-info" data-more-info="3">Show more info</a>
                         </div>
                    </div>
                    <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
               </section>
               <!-- ============= ITEM 1 - END ============= -->

               <!-- ============= ITEM 2 - START ============= -->
               <section class="populated" data-compare-item="2">
                    <div class="empty">
                         <h1 class="heading-m">Add an apprenticeship to compare</h1>
                         <a class="button button--sparks open-list" href="#">Open list</a>
                    </div>

                    <div class="content">
                         <h1 class="heading-s item-title">Business and Administration</h1>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>2 (equivalent to GCSEs at grades A* to C)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Typical length:</p>
                              <p>12 months</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Current funding band:</p>
                              <p>Up to £2,000 per apprentice</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Entry requirements:</p>
                              <div class="content-container" data-view-info="1">
                                   <p>Your chosen training provider can advise you about entry requirements for apprentices.</p>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">What apprentices will learn:</p>
                              <div class="content-container" data-view-info="2">
                                   <ul>
                                        <li>Administrator / Business Support Officer</li>
                                        <li>Office Junior</li>
                                        <li>Receptionist</li>
                                   </ul>
                                   <p>Your chosen training provider can advise you about the kinds of skills apprentices will learn.</p>
                              </div>
                              <a href="#" class="more-info" data-more-info="2">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Qualifications:</p>
                              <div class="content-container" data-view-info="3">
                                   <p>Apprentices will achieve a practical and theory-based (or 'combined') qualification:</p>
                                   <ul>
                                        <li>BTEC Diploma in Business Administration</li>
                                        <li>Diploma in Business Administration</li>
                                        <li>Diploma in Business Administration (RQF)</li>
                                   </ul>
                                   <p>Your chosen training provider can advise you about the qualifications open to apprentices as they can change depending on individual and other circumstances.</p>
                              </div>
                              <a href="#" class="more-info" data-more-info="3">Show more info</a>
                         </div>
                    </div>
                    <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
               </section>
               <!-- ============= ITEM 2 - END ============= -->

               <!-- ============= ITEM 3 - START ============= -->
               <section class="populated" data-compare-item="3">
                    <div class="empty">
                         <h1 class="heading-m">Add an apprenticeship to compare</h1>
                         <a class="button button--sparks open-list" href="#">Open list</a>
                    </div>

                    <div class="content">
                         <h1 class="heading-s item-title">Payroll Administrator</h1>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>3 (equivalent to A levels at grades A to E)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Typical length:</p>
                              <p>18 months</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Current funding band:</p>
                              <p>Up to £9,000 per apprentice</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Entry requirements:</p>
                              <div class="content-container" data-view-info="1">
                                   <p>Set by employer</p>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">What apprentices will learn:</p>
                              <div class="content-container" data-view-info="2">
                                   <ul>
                                        <li>checking how many hours employees have worked</li>
                                        <li>how to calculate pay</li>
                                        <li>working out tax and national insurance payments</li>
                                        <li>paying wages</li>
                                        <li>processing holiday, sick and maternity pay, and expenses</li>
                                        <li>understanding and issuing tax forms</li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="2">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Qualifications:</p>
                              <div class="content-container" data-view-info="3">
                                   <p>Before taking their end-point assessment:</p>
                                   <ul>
                                        <li>apprentices must achieve level 2 English and maths (equivalent to GCSE grades 9 to 4 or A* to C)</li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="3">Show more info</a>
                         </div>
                    </div>

                    <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
               </section>
               <!-- ============= ITEM 3 - END ============= -->

               <!-- ============= ITEM 4 - START ============= -->
               <section class="populated" data-compare-item="4">
                    <div class="empty">
                         <h1 class="heading-m">Add an apprenticeship to compare</h1>
                         <a class="button button--sparks open-list" href="#">Open list</a>
                    </div>

                    <div class="content">
                         <h1 class="heading-s item-title">Business and Professional Administration</h1>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>4 (equivalent to certificate of higher education)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Typical length:</p>
                              <p>24 months</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Current funding band:</p>
                              <p>Up to £4,000 per apprentice</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Entry requirements:</p>
                              <div class="content-container" data-view-info="1">
                                   <p>Your chosen training provider can advise you about entry requirements for apprentices.</p>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">What apprentices will learn:</p>
                              <div class="content-container" data-view-info="2">
                                   <ul>
                                        <li>Administration team leader</li>
                                        <li>Business development executive</li>
                                        <li>Office manager</li>
                                        <li>Personal assistant</li>
                                   </ul>
                                   <p>Your chosen training provider can advise you about the kinds of skills apprentices will learn.</p>
                              </div>
                              <a href="#" class="more-info" data-more-info="2">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Qualifications:</p>
                              <div class="content-container" data-view-info="3">
                                   <p>Apprentices will achieve a practical (or 'competence') qualification:</p>
                                   <ul>
                                        <li>NVQ Diploma in Business Administration</li>
                                        <li>NVQ Diploma in Business Administration (RQF)</li>
                                   </ul>
                                   <p>Apprentices will also achieve a theory-based (or 'knowledge') qualification:</p>
                                   <ul>
                                        <li>BTEC Diploma in Business Administration</li>
                                        <li>BTEC Extended Diploma in Business Administration</li>
                                        <li>BTEC Higher National Certificate in Business</li>
                                        <li>Certificate in Principles of Business Administration</li>
                                        <li>Diploma in Business Administration</li>
                                        <li>Diploma in Business Administration (RQF)</li>
                                        <li>Diploma in Business and Administration</li>
                                        <li>Diploma in Business and Administration (RQF)</li>
                                        <li>Diploma in Business and Professional Administration</li>
                                        <li>Diploma in Principles of Business Administration (RQF)</li>
                                        <li>Foundation Degree in Business and Management - New College Durham</li>
                                   </ul>
                                   <p>Your chosen training provider can advise you about the qualifications open to apprentices as they can change depending on individual and other circumstances.</p>
                              </div>
                              <a href="#" class="more-info" data-more-info="3">Show more info</a>
                         </div>
                    </div>

                    <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
               </section>
               <!-- ============= ITEM 4 - END ============= -->

          </div>

     </div>
     <!-- //////////////////////////////// COMPARE APPRENTICESHIPS - END //////////////////////////////// -->

     <!-- //////////////////////////////// COMPARE TRAINING PROVIDER - START //////////////////////////////// -->
     <div class="wrapper" id="compare-training-provider" style="display: none">

          <div class="title-section">
               <h1 class="heading-l">
                    <a href="#" class="back close-compare">Back to list</a>
                    Compare training providers
                    <a href="#" class="close close-compare">Close</a>
               </h1>
          </div>

          <div class="basket-items">

               <!-- ============= ITEM 1 - START ============= -->
               <section class="populated" data-compare-item="1">
                    <div class="empty">
                         <h1 class="heading-m">Add a trainging provider to compare</h1>
                         <a class="button button--sparks open-list" href="#">Open list</a>
                    </div>

                    <div class="content">
                         <h1 class="heading-s item-title">PARAGON - SKILLS FOR INDUSTRY</h1>
                         <div class="item-content">
                              <p><span class="national">national</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Distance:</p>
                              <p>1.1 miles away</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Apprenticeship:</p>
                              <p>Business Administrator</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>3 (equivalent to A levels at grades A to E)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Training options:</p>
                              <div class="content-container" data-view-info="1">
                                   <ul>
                                        <li>day release <span class="feedback no"></span></li>
                                        <li>block release <span class="feedback no"></span></li>
                                        <li>at your location <span class="feedback yes"></span></li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Employer satisfaction: <span class="number">86%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Learner satisfaction: <span class="number">91%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Achievement rate: <span class="number">65%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Employer satisfaction: <span class="number">86%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Learner satisfaction: <span class="number">91%</span></p>
                         </div>
                    </div>
                    <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
               </section>
               <!-- ============= ITEM 1 - END ============= -->

               <!-- ============= ITEM 2 - START ============= -->
               <section class="populated" data-compare-item="2">
                    <div class="empty">
                         <h1 class="heading-m">Add a trainging provider to compare</h1>
                         <a class="button button--sparks open-list" href="#">Open list</a>
                    </div>

                    <div class="content">
                         <h1 class="heading-s item-title">Boom Training Ltd</h1>
                         <div class="item-content">
                              <p><br></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Distance:</p>
                              <p>1.2 miles away</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Apprenticeship:</p>
                              <p>Business Administrator</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>3 (equivalent to A levels at grades A to E)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Training options:</p>
                              <div class="content-container" data-view-info="1">
                                   <ul>
                                        <li>day release <span class="feedback no"></span></li>
                                        <li>block release <span class="feedback no"></span></li>
                                        <li>at your location <span class="feedback yes"></span></li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Employer satisfaction: <span class="number">N/D</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Learner satisfaction: <span class="number">84%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Achievement rate: <span class="number">N/D</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Employer satisfaction: <span class="number">N/D</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Learner satisfaction: <span class="number">84%</span></p>
                         </div>
                    </div>
                    <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
               </section>
               <!-- ============= ITEM 2 - END ============= -->

               <!-- ============= ITEM 3 - START ============= -->
               <section class="populated" data-compare-item="3">
                    <div class="empty">
                         <h1 class="heading-m">Add a trainging provider to compare</h1>
                         <a class="button button--sparks open-list" href="#">Open list</a>
                    </div>

                    <div class="content">
                         <h1 class="heading-s item-title">INTEC BUSINESS COLLEGES LTD</h1>
                         <div class="item-content">
                              <p><span class="national">national</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Distance:</p>
                              <p>1.3 miles away</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Apprenticeship:</p>
                              <p>Business Administrator</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>3 (equivalent to A levels at grades A to E)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Training options:</p>
                              <div class="content-container" data-view-info="1">
                                   <ul>
                                        <li>day release <span class="feedback no"></span></li>
                                        <li>block release <span class="feedback no"></span></li>
                                        <li>at your location <span class="feedback yes"></span></li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Employer satisfaction: <span class="number">85%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Learner satisfaction: <span class="number">87%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Achievement rate: <span class="number">72%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Employer satisfaction: <span class="number">85%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Learner satisfaction: <span class="number">87%</span></p>
                         </div>
                    </div>
                    <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
               </section>
               <!-- ============= ITEM 3 - END ============= -->

               <!-- ============= ITEM 4 - START ============= -->
               <section class="populated" data-compare-item="4">
                    <div class="empty">
                         <h1 class="heading-m">Add a trainging provider to compare</h1>
                         <a class="button button--sparks open-list" href="#">Open list</a>
                    </div>

                    <div class="content">
                         <h1 class="heading-s item-title">Babcock Training</h1>
                         <div class="item-content">
                              <p><span class="national">national</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Distance:</p>
                              <p>1.4 miles away</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Apprenticeship:</p>
                              <p>Business Administrator</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Level:</p>
                              <p>3 (equivalent to A levels at grades A to E)</p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Training options:</p>
                              <div class="content-container" data-view-info="1">
                                   <ul>
                                        <li>day release <span class="feedback no"></span></li>
                                        <li>block release <span class="feedback no"></span></li>
                                        <li>at your location <span class="feedback yes"></span></li>
                                   </ul>
                              </div>
                              <a href="#" class="more-info" data-more-info="1">Show more info</a>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Employer satisfaction: <span class="number">81%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Learner satisfaction: <span class="number">89%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Achievement rate: <span class="number">82%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Employer satisfaction: <span class="number">81%</span></p>
                         </div>
                         <div class="item-content">
                              <p class="lead-paragraph">Learner satisfaction: <span class="number">89%</span></p>
                         </div>
                    </div>
                    <div class="remove-cta"><a href="#" class="remove-item">Remove</a></div>
               </section>
               <!-- ============= ITEM 4 - END ============= -->

          </div>

     </div>
     <!-- //////////////////////////////// COMPARE TRAINING PROVIDER - END //////////////////////////////// -->


</div>
