<section class="faa-fat-link-block cta-fat">
     <div class="content-wrapper">
          <div class="cta-fat__content">
               <h2 class="heading-l cta-faa__heading">BE part of the movement</h2>
               <p>
                    Try apprenticeships for size - you’ll grow your own talent, reduce staff turnover and<br>enhance the skills your company need to succeed.
               </p>
          </div>
          <div class="cta-fat__action">
               <h3 class="heading-xs">Call the National apprenticeship service</h3>
               <h4 class="heading-xl">0800 015 0600</h4>
          </div>
          <div class="cta-fat__action">
               <a id="link-FAT-Cta" href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" class="button button--shadow button--sparks" target="_blank" rel="external"> Find apprenticeship training </a>
          </div>
     </div>
</section>
