<form id="search-results-filter">
     <section class="cta-fat">

          <h2 class="heading-m">
               filter results
               <!-- <span class="open"></span> -->
          </h2>
          <div class="form-content">
               <div class="cta-fat__content">
                    <div class="form-group radios">
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="apprenticeship-level-2" name="apprenticeship-level-2">
                              <label class="label checkboxes__label" for="apprenticeship-level-2">
                                   Level 2 (1)
                              </label>
                         </div>
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="apprenticeship-level-3" name="apprenticeship-level-3">
                              <label class="label checkboxes__label" for="apprenticeship-level-3">
                                   Level 3 (1)
                              </label>
                         </div>
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="apprenticeship-level-4" name="apprenticeship-level-4">
                              <label class="label checkboxes__label" for="apprenticeship-level-4">
                                   Level 4 (1)
                              </label>
                         </div>
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="apprenticeship-level-5" name="apprenticeship-level-5">
                              <label class="label checkboxes__label" for="apprenticeship-level-5">
                                   Level 5 (0)
                              </label>
                         </div>
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="apprenticeship-level-6" name="apprenticeship-level-6">
                              <label class="label checkboxes__label" for="apprenticeship-level-6">
                                   Level 6 (1)
                              </label>
                         </div>
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="apprenticeship-level-7" name="apprenticeship-level-7">
                              <label class="label checkboxes__label" for="apprenticeship-level-7">
                                   Level 7 (1)
                              </label>
                         </div>
                    </div>
                    <div class="form-group">
                         <input type="submit" value="Update" class="button">
                    </div>
               </div>
          </div>

     </section>
</form>
