<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Hair and beauty</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         The hair and beauty sector is more diverse than you probably realised.
                    </p>

                    <p>
                         Apprenticeships here often take place in small businesses that operate as
                         self-employed freelancers, running their own business and visiting clients
                         at home; others find themselves working in spas, health farms, holiday resorts,
                         and even film and TV sets.
                    </p>

                    <p>
                         You can go on to work in sales, marketing, public relations and photography,
                         or choose to concentrate on the business aspects of running a salon rather
                         than performing treatments.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Hair and beauty includes:</dt>
                         <dd>Hair Professional</dd>
                         <dd>Beauty therapist</dd>
                         <dd>Nail services technician</dd>
                    </dl>
               </div>
               {% include '../faa-fat/_10-hair-faa.html'%}
          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/hair/649x995/hair-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
