<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Protective services</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         Protective services are all about keeping things safe - people, businesses and communities.
                    </p>

                    <p>
                         Which means fire services, waste management, police and all those other things
                         which help make our society a better place.
                    </p>

                    <p>
                         It also includes HM Armed Services and countless roles like Naval warfare rating,
                         Royal Marines general duties rifleman, Army infantryman or RAF regiment gunner.
                         All of which involve general or more specialised duties which could be in aggressive,
                         peacekeeping or humanitarian roles.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Protective services includes:</dt>
                         <dd>HM Forces serviceperson (public services)</dd>
                         <dd>Business Fire Safety Advisor</dd>
                         <dd>Custody & Detention Officer</dd>
                    </dl>
               </div>

               {% include '../faa-fat/_13-protective-faa.html'%}

          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/protective-services/649x995/protective-services-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
