<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Business and administration</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         The business world is vast, covering all the many different jobs and skills needed to keep
                         companies running efficiently and profitably, and keep staff and customers happy.
                    </p>

                    <p>
                         And the choice is yours. From enterprise and innovation to information security, marketing,
                         public relations, apprenticeships are available in businesses large and small across the UK.
                    </p>

                    <p>
                         Apprenticeships range from administration through to HR, management, leadership, PR, finance,
                         accounting, consultancy, and a variety of legal roles, including solicitor, conveyancing
                         technician, and legal executive. There are also banking and investment-related specialisms too.
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Business and administration includes:</dt>
                         <dd>HR Consultant / Partner</dd>
                         <dd>Business Administrator</dd>
                         <dd>Public service operational delivery officer</dd>
                    </dl>
               </div>
               {% include '../faa-fat/_2-business-faa.html'%}
          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/business/649x995/business-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
