<div class="hero interests-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">Creative and design</h1>
               </div>
               <div class="hero-heading__content">

                    <p class="lead-paragraph">
                         From film to fashion, music to computer gaming, creativity takes on many forms.
                         The creative and design industries reflects this, with a broad array of
                         apprenticeships and careers.
                    </p>

                    <p>
                         While it’s the artists and actors, musicians and models who take centre stage,
                         they wouldn’t be there without armies of assistants and teams of technicians.
                         And there’s also a strong administrative side to this industry. Lights, camera, action!
                    </p>

                    <dl class="inline-list">
                         <dt class="inline-list__title">Creative and design includes:</dt>
                         <dd>Broadcast and communications technical operator</dd>
                         <dd>Cultural learning and participation officer</dd>
                         <dd>Jewellery Maker</dd>
                    </dl>
               </div>
               {% include '../faa-fat/_6-creative-faa.html'%}
          </div>
          <div class="grid-column-one-half image-holder">
               <img src="/dist/campaign/images/images/sector-pages/creative/649x995/creative-2.jpg" class="hero-heading__image">
          </div>
     </div>
     <div class="background-colour"></div>
     <div class="background-image"></div>
</div>
