<!-- ////////////////// Hero Banner - START //////////////////-->
<div class="hero-banner" id="hub-page">
     <div class="grid-row">
          <div class="grid-column-one-half">
               <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">
                         <div class="spark top"></div>
                         <div class="spark bottom"></div>
                         Turbo charge your business
                    </h1>
               </div>
               <div>
                    <p class="hero-line">BE part of the movement</p>
                    <p>
                         Try apprenticeships for size - you’ll grow your own talent, reduce staff turnover
                         and enhance the skills your company need to succeed.
                    </p>
                    <a href="/campaign/FAT/1-FAT-search" class="button button--shadow button--sparks button--employer">Find a training provider</a>
                    <p>Or Call the National apprenticeship service</p>
                    <p class="hero-line large-text">0800 015 0600</p>
               </div>
          </div>
          <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
          <span class="hero-banner__background hero-banner__background--industry"></span>
     </div>
</div>
<!-- ////////////////// Hero Banner - END //////////////////-->
