<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Transport and logistics</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template apprentice apprentice-page" data-page-id="4">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap">

               {% include '../components/header/_header-apprentice.html'%}

               {% include '../components/header-interests/_15-transport-logistics.html'%}

               <main class="main-content interests-page apprentice">

                    <!-- /////////////////////// JOBS SECTION - START /////////////////////// -->
                    <section class="sector-jobs">
                         <h1 class="heading-m">top 5 apprenticehsips in Transport and logistics</h1>

                         <div class="jobs-wrapper">

                              <!-- Job 1 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-315830" class="job" target="_blank">
                                   <span class="number">1</span>
                                   <h2 class="heading-xs">Apprentice Transport Supply Chain Operator</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Preston</h3>
                                   <p>£18,990 per year</p>
                              </a>
                              <!-- Job 1 - END -->

                              <!-- Job 2 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-380641" class="job" target="_blank">
                                   <span class="number">2</span>
                                   <h2 class="heading-xs">Waste Resource Operative Level 2 Apprenticeship</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£17,500 per year</p>
                              </a>
                              <!-- Job 2 - END -->

                              <!-- Job 3 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-329294" class="job" target="_blank">
                                   <span class="number">3</span>
                                   <h2 class="heading-xs">Apprentice Traffic Office Assistant</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£16,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 3 - END -->

                              <!-- Job 4 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-379728" class="job" target="_blank">
                                   <span class="number">4</span>
                                   <h2 class="heading-xs">Apprentice Transport Administrator</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Newcastle Upon Tyne</h3>
                                   <p>£12,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 4 - END -->

                              <!-- Job 5 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-371141" class="job" target="_blank">
                                   <span class="number">5</span>
                                   <h2 class="heading-xs">Apprentice Warehouse & Transport Administrator</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>London</h3>
                                   <p>£11,958 - £14,958 per year</p>
                              </a>
                              <!-- Job 5 - END -->

                         </div>
                    </section>
                    <!-- /////////////////////// JOBS SECTION - END /////////////////////// -->

               </main>

               <blockquote class="full-width end-of-page">
                    <div class="content-wrapper">
                         <div class="quote"></div>
                         <h2>
                              This apprenticeship gave me the required qualification I needed to climb the career ladder but more
                              importantly, it gave me a breadth of experience I could not have imagined achieving in just two years.
                         </h2>
                         <div class="cite">
                              Jordan Nicholas
                              <span class="cite-detail">
                                   Transport for London
                              </span>
                         </div>
                    </div>
               </blockquote>

               {% include '../components/footer/_footer-apprentice.html'%}

               <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          </div>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
