<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 4 - Hire an apprentice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="3">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/_em-4-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-4 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <h2 class="heading-l no-top-margin" id="heading1">Finding the right apprentice for you</h2>

                          <p>
                              When you've decided to hire an apprentice you need to think about the right person for you and the benefits they can bring to your business.
                          </p>

                          <p>
                              When you write the apprenticeship advert be sure to make it understandable and simple for candidates who will be searching through many other apprenticeship vacancies.
                          </p>

                          <p>
                              Think about:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>offering a competitive apprenticeship salary - depending on experience</li>
                              <li>the apprenticeship description - keeping it simple and short</li>
                              <li>whether the right person for you will be someone with no experience or more</li>
                              <li>why they might want to come and work for you</li>
                              <li>what their future career prospects look like</li>
                              <li>what their future salary potential could look like</li>
                          </ul>

                          <p>
                              Consider other ways of finding the right person, for example:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">

                              <li>hold open days at your organisation</li>
                              <li>participate in shows, such as 'WorldSkills UK Live'</li>
                              <li>invite potential apprentices to your organisation for a day, to get a feel for how you work</li>
                          </ul>

                          <h2 class="heading-m" id="heading2">How to ask the right questions at interview</h2>

                          <p>
                              Take time to think about what you really need to know and how you’ll
                              tease out the best from the interviewee.  You want to find out if the candidate is right for your organisation.
                          </p>

                          <p>
                              Here are some example questions:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>tell me about yourself</li>
                              <li>to date, what would you consider your biggest achievement in school/college/work</li>
                              <li>what's your time keeping like</li>
                              <li>do you work well in a team</li>
                              <li>what do you consider are your strengths</li>
                              <li>what do you consider are your weaknesses</li>
                              <li>why do you think we should hire you</li>
                              <li>why would you like to work for our organisation</li>
                              <li>do you have any questions you'd like to ask us</li>
                          </ul>

                          <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div>

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/campaign/employer/3-choose-training-provider"> Choose a training provider</a></li>
                              <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/campaign/employer/5-preparing-and-monitoring"> Preparing and monitoring</a></li>
                          </ul>

                      </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-hire-an-apprentice.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS FOR HIRING APPRENTICES</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar-employer.html'%}
                        </div>
                        {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/faa-fat/_resources-links.html'%}

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
