<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 5 - Preparing and monitoring</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template employer-section-how employer-page" data-page-id="3">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/_em-5-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-5 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <p>
                              Taking on an apprentice, whatever age, will need some preparation from you, as the employer.
                          </p>

                          <p>
                              If the new apprentice is straight out of school then they may have limited
                              experience of what's expected of them going into their first salaried job.
                          </p>

                          <p>
                              If your new apprentice is older and more experienced they might not need as
                              much help as the school leaver, but they may still be nervous and unsure of what’s expected of them.
                          </p>

                          <h2 class="heading-m" id="heading1">Preparing</h2>

                          <p>
                              Before an apprentice starts you should consider sending them a
                              starter pack so they know what to expect from their first day.
                          </p>

                          <p>
                              It could include:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>a list of what you'd like them to bring - notebook/pens/ID etc</li>
                              <li>what time you'd like them to arrive</li>
                              <li>how they should dress</li>
                              <li>how much money they need to bring for lunch etc</li>
                              <li>who they should ask for when they arrive</li>
                              <li>where to get the bus/train or park their car</li>
                          </ul>

                          <h2 class="heading-m" id="heading2">Monitoring</h2>

                          <p>
                              It's important as an employer to support your new apprentice and keep in regular contact with them.
                              Perhaps you could consider:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>establishing a weekly catch-up with your apprentice</li>
                              <li>regular updates with your training provider</li>
                              <li>assigning a member of staff to be their daily 'go-to' person</li>
                          </ul>

                          <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div>

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/campaign/employer/4-hire-an-apprentice"> Hire an apprentice</a> </li>
                              <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/campaign/employer/6-assessment-and-qualification"> Assessment and certification</a></li>
                          </ul>

                    </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-preparing-monitoring.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS FOR HIRING APPRENTICES</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar-employer.html'%}
                        </div>
                        {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/faa-fat/_resources-links.html'%}

        {% include '../components/footer/_footer-employer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
