<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 6 - Assessment and qualification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-employer.html'%}
         {% include '../components/hero-heading/_em-6-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-6 employer">

             <div id="text-container-employer" class="grid-row">
                <div class="grid-column-two-thirds">

                     <div class="page">

                          <h2 class="heading-l no-top-margin" id="heading1">Choose an end-point assessment organisation</h2>

                          <p>
                              Once the apprenticeship training is completed, an independent assessment will take place, this is
                              called an 'end-point assessment'.  The assessment is part of the process as a guarantee that
                              the apprenticeship training is of high quality.
                         </p>

                         <p>
                              It also gives the apprentice the opportunity to demonstrate what they've learnt
                              throughout the apprenticeship. (This assessment only applies for apprenticeship
                              standards and not for frameworks).
                          </p>

                          <p>
                               This will include an assessment of the apprentice's:
                          </p>

                          <ul class="list list--bullet list--bullet-employer">
                              <li>knowledge</li>
                              <li>skills</li>
                              <li>behaviours</li>
                          </ul>

                          <p>
                              Your apprentice can't achieve an apprenticeship standard without satisfying all the requirements of the assessment plan, including the end-point assessment.
                          </p>

                          <h2 class="heading-m" id="heading4">When to choose an end-point assessment organisation (EPAO)</h2>


                          <p>
                             It's a good idea to choose an EPAO early in the process, ideally at the beginning of the process when you choose your training provider. It's a good idea because of things.
                          </p>

                          <p>
                              Something about being able to choose later if you want.
                          </p>

                          <h3 class="heading-s">End-point assessment cost</h3>

                          <p>
                               We expect that the cost of the end-point assessment should not usually exceed 20% of the funding band maximum.
                          </p>

                          <p>
                               This cost is seperate to the overall cost agreed with the training provider for the apprenticeship and you should negotiate this with the EPAO.
                          </p>

                            <p>
                              Although the training provider will be involved in arrangements for the end-point assessment,
                              the assessment itself must be independent.
                          </p>

                          <p>
                              You must contract with the end-point assessment
                              organisation and have a written agreement in place to make payment to them for conducting the end-point assessment.
                          </p>

                          <h2 class="heading-m" id="heading2">Where to find an end-point assessment organisation</h2>

                          <p>
                               You must select an organisation to deliver the end-point assessment from the <a href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank" rel="external" class="external" id="link-roepao">register of end-point assessment organisations</a> and agree to a price with this organisation for the end-point assessment.
                          </p>

     



                          <h2 class="heading-m" id="heading3">Qualification</h2>

                          <p>
                              When your apprentice successfully completes their apprenticeship they will be awarded a certificate.
                          </p>

                          <p>
                              The end-point assessment organisation will request the certificate on your behalf.
                          </p>

                          <div class="contact-phone-number">
                              <div class="contact-phone-number__content">
                                  <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
                                  <a id="link-click-to-call-employer" href="tel:08000150600">0800 015 0600</a>
                              </div>
                          </div>

                          <ul class="pagination pagination--employer">
                              <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/campaign/employer/5-preparing-and-monitoring"> Preparing and monitoring</a></li>
                          </ul>

                    </div>

                </div>
                <div class="grid-column-one-third">

                    <div class="sidebar sidebar--employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-assessment-qualification.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS FOR HIRING APPRENTICES</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar-employer.html'%}
                        </div>
                        {% include '../components/sideBar/_register-employer.html'%}
                        {% include '../components/sideBar/_account.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_fat-link-block.html'%}

        </main>

        {% include '../components/faa-fat/_resources-links.html'%}

    {% include '../components/footer/_footer.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
