<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - Apprenticeships</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">


  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template index cookieBannerV2">

    <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    {% include './components/cookieBanner/_cookieBannerV2.html'%}

    <div class="wrap">

        {% include './components/header/_header.html'%}

          <section class="">
               <div class="grid-row-full-width">
                    <div class="grid-column-full-width-one-half">
                         <a href="/campaign/apprentice/1-what-is-an-apprenticeship" class="launcher launcher--apprentices">
                              <div class="launcher__content">
                                   <div class="fire-it-up">
                                        <div class="spark top"></div>
                                        <div class="spark bottom"></div>
                                        Fire it up!
                                   </div>
                                   <h1 class="launcher__section-heading">Apprenticeships</h1>
                                   <h2 class="launcher__heading">Blaze your own trail and become an apprentice</h2>
                                   <p class="launcher__intro">
                                        Find out what you need to do to become an apprentice, what careers are available
                                        and which employers are offering them.
                                   </p>
                                   <p class="launcher__link">Become an apprentice</p>
                              </div>
                              <span class="launcher__bg"></span>
                         </a>
                    </div>
                    <div class="grid-column-full-width-one-half employer-half">
                         <a href="/campaign/employer/1-employer-apprenticeship-costs" class="launcher launcher--employer">
                              <div class="launcher__content">
                                   <h1 class="launcher__section-heading">Employers</h1>
                                   <h2 class="launcher__heading">Fire up your business with an apprentice</h2>
                                   <p class="launcher__intro">
                                           Employing an apprentice is easier than you think and
                                           there's financial help and support available from the government.
                                      </p>
                                   <p class="launcher__link">Hire an apprentice</p>
                              </div>
                              <span class="launcher__bg"></span>
                         </a>
                         <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
                    </div>
               </div>
          </section>

          <!-- ============================= -->

            <div class="grid-row hero-banner hero-banner--apprentice hero-banner--right-aligned">
                <div class="grid-column-full">
                    <div class="hero-banner__caption">
                        <span class="hero-banner__caption-icon"></span>
                        <span class="hero-banner__caption-text">Real apprentice stories</span>
                    </div>
                    <div class="grid-row hero-banner__content">
                        <div class="grid-column-one-half  hero-banner__icon-play-container">
                            <div class="hero-banner__icon-play"></div>
                        </div>
                        <div class="grid-column-one-half hero-banner__content-main">
                            <h3 class="hero-banner__header">Get the confidence, grab the career</h3>
                            <p class="hero-banner__copy">
                                "I found the confidence I needed to take the apprenticeship, because I knew theatre is what
                                I loved and where I wanted to be."
                            </p>
                            <div class="hero-banner__cite">Hosanna, <span class="hero-banner__cite-detail">18, technical apprentice, Royal Opera House London</span></div>
                            <a class="hero-banner__link" href="#">View more apprentice stories</a>
                        </div>
                    </div>
                    <span class="hero-banner__background"></span>
                </div>
            </div>

            <!-- ============================= -->

            <div class="grid-row hero-banner hero-banner--employer">
                <div class="grid-column-full">
                    <div class="hero-banner__caption">
                        <span class="hero-banner__caption-icon"></span>
                        <span class="hero-banner__caption-text">Real employer stories</span>
                    </div>
                    <div class="grid-row hero-banner__content">
                        <div class="grid-column-one-half hero-banner__content-main">
                            <h3 class="hero-banner__header">A real win-win for businesses, large and small</h3>
                            <p class="hero-banner__copy">
                                "The business, the organisation, and our managers here know the value that someone
                                who has gone through an apprenticeship brings."
                            </p>
                            <p class="hero-banner__cite">Annie Cook, <span class="hero-banner__cite-detail">NHS Career Development Coordinator</span></p>
                            <a class="hero-banner__link" href="#">View more employer stories</a>
                        </div>
                        <div class="grid-column-one-half  hero-banner__icon-play-container">
                            <div class="hero-banner__icon-play"></div>
                        </div>
                    </div>
                    <span class="hero-banner__background"></span>
                </div>
            </div>


        {% include './components/footer/_footer.html'%}
        <!-- {% include './components/cookieBanner/_cookieBanner.html'%} -->
    </div>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script>

     {% include './components/footer/_scripts.html'%}


</body>

</html>
