<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="utf-8" />
          <title>Fire it up! - Business and administration</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="theme-color" content="#0b0c0c" />

          <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
          <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
          <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

          <!--[if !IE 8]><!-->

          <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

          <!--<![endif]-->

          <meta property="og:image" content="/dist/campaign/images/opengraph.png">
     </head>

     <body class="page-template employer-section-industries employer employer-page" data-page-id="4">

          <script>
               document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
          </script>

          <a href="#main-content" class="skip-link">Skip to main content</a>

          <div class="wrap">

               {% include '../components/header/_header-employer.html'%}

               {% include '../components/header-interests-employer/_2-business.html'%}

               <main class="main-content interests-page">

                    <!-- /////////////////////// JOBS SECTION - START /////////////////////// -->
                    <section class="sector-jobs">
                         <h1 class="heading-m">top 5 apprenticehsips in Business and administration</h1>

                         <div class="jobs-wrapper">

                              <!-- Job 1 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-379010" class="job" target="_blank">
                                   <span class="number">1</span>
                                   <h2 class="heading-xs">Business Administration Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Preston</h3>
                                   <p>£18,990 per year</p>
                              </a>
                              <!-- Job 1 - END -->

                              <!-- Job 2 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-377653" class="job" target="_blank">
                                   <span class="number">2</span>
                                   <h2 class="heading-xs">Apprentice Credit Control Administrator (Business Admin)</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£17,500 per year</p>
                              </a>
                              <!-- Job 2 - END -->

                              <!-- Job 3 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-354280" class="job" target="_blank">
                                   <span class="number">3</span>
                                   <h2 class="heading-xs">New Business Manager Apprentice</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Wolverhampton</h3>
                                   <p>£16,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 3 - END -->

                              <!-- Job 4 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-374470" class="job" target="_blank">
                                   <span class="number">4</span>
                                   <h2 class="heading-xs">Business Administration Apprenticeship @ARC Mobiles</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>Newcastle Upon Tyne</h3>
                                   <p>£12,000 - £18,000 per year</p>
                              </a>
                              <!-- Job 4 - END -->

                              <!-- Job 5 - START -->
                              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-377515" class="job" target="_blank">
                                   <span class="number">5</span>
                                   <h2 class="heading-xs">Apprentice Business Administrator</h2>
                                   <h3 class="heading-xs"><span class="location">location</span>London</h3>
                                   <p>£11,958 - £14,958 per year</p>
                              </a>
                              <!-- Job 5 - END -->

                         </div>
                    </section>
                    <!-- /////////////////////// JOBS SECTION - END /////////////////////// -->

               </main>

               <!-- /////////////////////// NEW QUOTES - START /////////////////////// -->
               <section class="real-stories-quotes main-content employer-quotes">
                    <div class="grid-row">
                         <div class="grid-column-two-thirds">
                              <div class="quote-wrapper">
                                   <div class="caption">
                                        <span class="caption-icon"></span>
                                        <h2 class="heading-xs caption-text">Real stories</h2>
                                   </div>
                                   <h1 class="heading-l">Do Work That Makes A Difference</h1>
                                   <p>
                                        An apprenticeship provided me with a platform to do work that made a difference, regardless of my age or
                                        years of experience. I take the work I do very seriously and it is essential that I am carrying out work
                                        that is improving on how things were done in the past.
                                   </p>
                                   <p>
                                        Although I'm not a big fan of the traditional education system, I do love learning. This apprenticeship gave me
                                        the required qualification I needed to climb the career ladder but more importantly, it gave me a breadth of
                                        experience I could not have imagined achieving in just two years.
                                   </p>
                                   <p>
                                        <a href="/campaign/real-stories/apprentices">View more sucess stories</a>
                                   </p>
                              </div>
                         </div>
                         <div class="grid-column-one-third">
                              <div class="quote-block-black">
                                   <blockquote>
                                        <div class="quote"></div>
                                        <h2>
                                             An apprenticeship provided me with a platform to do work that made a difference,
                                             regardless of my age or years of experience.
                                        </h2>
                                        <div class="cite">
                                             Jordan Nicholas, 20
                                             <span class="cite-detail-job-title">
                                                  HR Management Apprenticeship
                                             </span>
                                        </div>
                                   </blockquote>
                                   <div class="logo">
                                        <p>Transport for<br>London</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </section>
               <!-- /////////////////////// NEW QUOTES - END /////////////////////// -->

               <!-- <blockquote class="full-width end-of-page">
                    <div class="content-wrapper">
                         <div class="quote"></div>
                         <h2>
                              I think they are great! More people, regardless of their age, should be encouraged.
                         </h2>
                         <div class="cite">
                              Tony Waeland
                              <span class="cite-detail">
                                   NHS
                              </span>
                         </div>
                    </div>
               </blockquote> -->

               {% include '../components/footer/_footer-employer.html'%}

               <a href="#" id="back-to-top" class="hide"><span></span>Back to the top</a>

          </div>

          <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="/dist/campaign/js/app.min.js"></script>
          <script src="/dist/js/das-all.js"></script>
          <script>
               window.DASFrontend.initAll()
          </script> -->

          {% include '../components/footer/_scripts.html'%}

     </body>

</html>
