<section class="faa-fat-link-block cta-fat search-page">
     <div class="cta-fat__content">
          <h1 class="heading-l cta-fat__heading">Save your choices and create your <img src="/dist/campaign/images/go-uk-black.png"> account to start hiring the future</h1>
          <a id="link-FAT-Cta" href="https://das-nonlevy-prototype.herokuapp.com/version-7/newregister/employerStarted" class="button button--shadow button--sparks" rel="external"> <span class="external"></span>hire an apprentice</a>
          <a href="/campaign/register/register-interest-employer" class="email-me">Email me my favourites for later</a>
     </div>
     <div class="cta-fat__action">
          <img class="fat-map no-js" src="/dist/campaign/images/fat-screen-shot.jpg">
     </div>
</section>
