<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat search">
          <h1 class="heading-m sidebar__heading no-bottom-margin">Find a training provider</h1>
          <p class="no-top-margin">Use the postcode for where the apprentice will work.</p>
          <div class="cta-fat__action">
               <input type="search" id="fat-search-postcode" placeholder="Enter postcode...">
               <a id="link-FAT-search" href="/campaign/FAT/4A-FAT-training-provider-results?id={{id}}" class="button button--shadow button--sparks search link-FAT-search"><span class="search"></span>Find</a>
          </div>
     </section>

</div>
