<div class="grid-row-full-width">

     <section class="faa-fat-link-block cta-fat provider-details">
          <div class="content-wrapper">
               <div class="cta-fat__content">
                    <h2 class="heading-l cta-fat__heading">Contact details</h2>
               </div>
               <div class="cta-fat__action">

                    <dl>
                         <dt class="apprenticeshipContactTitle">Website:</dt>
                         <dd>
                              <a href="https://paragonskills.co.uk/get-qualified/sectors-and-apprenticeships/business-administration/business-administrator-level-3-apprenticeship-standard/" rel="external" target="_blank" class="course-link apprenticeshipContact fat-training-provider-title external">
                                   PARAGON - SKILLS FOR INDUSTRY website
                              </a>
                         </dd>

                         <dt class="phone-title">Phone number:</dt>
                         <dd id="phone" class="phone">0800 783 2545</dd>

                         <dt class="email-title">Email:</dt>
                         <dd id="email" class="email">
                              <a href="mailto:enquiries@pgon.co.uk">enquiries@pgon.co.uk</a>
                         </dd>

                         <dt class="providerContactTitle">Contact page:</dt>
                         <dd>
                              <a href="https://paragonskills.co.uk/contact-us/" rel="external" target="_blank" class="contact-link providerContact external">
                                   contact this training provider
                              </a>
                         </dd>

                         <dt class="training-location-title">Address:</dt>
                         <dd id="training-location" class="training-location">
                              Warwick, <span class="fat-training-provider-title">Paragon Skills</span>, National Provider, Warwick, Warwickshire, <strong class="fat-search-location">CV32 4XP</strong>
                         </dd>

                    </dl>

               </div>
          </div>
     </section>

</div>
