<form id="search-training-provider-filter">
     <section class="cta-fat">

          <h2 class="heading-m">
               filter results
               <!-- <span class="open"></span> -->
          </h2>

          <div class="form-content">
               <div class="cta-fat__content">
                    <h3 class="heading-s">Training options</h3>
                    <div class="form-group radios">
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="training-options-day-release" name="training-options">
                              <label class="label checkboxes__label" for="training-options-day-release">
                                   day release (57)
                              </label>
                         </div>
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="training-options-block-release" name="training-options">
                              <label class="label checkboxes__label" for="training-options-block-release">
                                   block release (41)
                              </label>
                         </div>
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="training-options-yout-location" name="training-options">
                              <label class="label checkboxes__label" for="training-options-yout-location">
                                   at your location (114)
                              </label>
                         </div>
                    </div>

                    <details>
                         <summary>Explain training options</summary>
                         <div class="panel panel-border-narrow">
                              <p>
                                   <strong>Day release:</strong> for example one day a week at the training provider's location.
                              </p>
                              <p>
                                   <strong>Block release:</strong> for example 3-4 weeks at the training provider's location.
                              </p>
                              <p>
                                   <strong>At your location:</strong> the training provider comes to your workplace.
                              </p>
                         </div>
                    </details>

                    <h3 class="heading-s">National training providers</h3>
                    <div class="form-group radios">
                         <div class="checkboxes__item">
                              <input class="checkboxes__input" type="checkbox" value="true" id="national-training" name="national-training">
                              <label class="label checkboxes__label" for="national-training">
                                   national providers (77)
                              </label>
                         </div>
                    </div>
                    <div class="form-group">
                         <input type="submit" value="Update results" class="button">
                    </div>
               </div>
          </div>

     </section>
</form>
