main.email-me-page {
     .hub-title-container {
          background: $employer;
          padding: 2em 2em 2em 2em;
          text-align: center;
          clip-path: none;
          position: relative;
          z-index: 10;
          margin: 0;
          @include media-query($from: tablet) {
               padding: 4em 2em 2.5em 2em;
               clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
               margin: 0 0 0 0;
          }
          h1, h2, h3, h4 {
               margin: 0 0 0 0;
               color: white;
          }
          p {
               color: white;
          }
     }
     .interests-row-1 {
          position: relative;
          margin-top: -20px;
          z-index: 1;
          background: $employer-pale;
          margin-bottom: 0;
          padding-bottom: 4em;
          .card__link:before {
               background: $employer;
          }
          .grid-column-full-width-one-quarter {
               .card__image {
                    margin-top: 0;
                    height: 250px;
                    clip-path: none;
               }
          }
     }
}

ol#training-providers-list {
     padding-left: 0;
     margin: 1em 0 0 0;
     @include media-query($from: tablet) {
          margin: 0;
     }
     li {
          list-style: none;
          margin-bottom: 1.5em;
          &:last-of-type {
               margin-bottom: 0;
               ul.provider-list {
                    margin-bottom: 0;
               }
          }
          &:nth-of-type(1) { &:before { content: '1'; } }
          &:nth-of-type(2) { &:before { content: '2'; } }
          &:nth-of-type(3) { &:before { content: '3'; } }
          &:nth-of-type(4) { &:before { content: '4'; } }
          &:nth-of-type(5) { &:before { content: '5'; } }
          &:nth-of-type(6) { &:before { content: '6'; } }
          &:nth-of-type(7) { &:before { content: '7'; } }
          &:nth-of-type(8) { &:before { content: '8'; } }
          &:nth-of-type(9) { &:before { content: '9'; } }
          &:nth-of-type(10) { &:before { content: '10'; } }
          &:nth-of-type(11) { &:before { content: '11'; } }
          &:nth-of-type(12) { &:before { content: '12'; } }
          &:nth-of-type(13) { &:before { content: '13'; } }
          &:nth-of-type(14) { &:before { content: '14'; } }
          &:nth-of-type(15) { &:before { content: '15'; } }
          &:before {
               display: inline-block;
               background-image: url("../images/number-employer.svg");
               color: white;
               background-repeat: no-repeat;
               background-size: contain;
               position: absolute;
               height: 43px;
               width: 22px;
               margin: 1px 0px 0px -47px;
               content: counter(results-counter);
               font-size: 0.9em;
               padding: 4px 15px 0px 6px;
               @include typography-common;
               text-align: left;
               font-weight: bold;
          }
          a {
               font-size: 22px;
               font-weight: bold;
          }
          ul.provider-list {
               display: inline-block;
               width: 90%;
               padding: 0.25em 0 0 10%;
               margin: 0.5em 0 0.5em 0;
               border-top: 3px solid rgba(black,0.1);
               li {
                    margin: 0.25em 0;
                    list-style: disc;
                    color: $employer;
                    &:before {
                         display: none;
                    }
                    a {
                         font-size: 18px;
                         font-weight: normal;
                    }
               }
          }
     }
}
