.form-group {
     @include font($size: 19, $weight: light);
     @include responsive-margin(6, "bottom", $adjustment: $button-shadow-size); // s2
     &.radios {
          margin: 1em 0;
          display: inline-block;
          @include media-query($from: tablet) {
               margin: 3em 0;
          }
     }
}

.form-list-item{
  @include responsive-padding(4, "left"); // s2
  @include responsive-padding(4, "bottom"); // s2
  color: $grey-5;
}

.form-section{
  background: inherit !important;

}

.pass-form-data {
     display: none;
}

.form-validation-summary{
  @include font($size: 19, $weight: light);
  border: 8px solid $error-colour;
  @include responsive-margin(6, "bottom", $adjustment: $button-shadow-size); // s2
  @include responsive-padding(2, $adjustment: $button-shadow-size); // s2
  > a {
    color: $error-colour;
    &:visited {
      color: $error-colour;
    }
  }
}

label {
     display: inline-block;
     width: 100%;
     margin-bottom: 0.5em;
     color: black;
     text-align: left;
}

.form-group-validation-error{

  border-left: 8px solid $error-colour;
  padding-left: 15px;
}

.validation-summary-valid {
  display:none;
}
.input-validation-error{
  border-bottom-color: $error-colour !important;
  margin-bottom: 10px;
}

.sort-by {
     background: $apprentice;
     padding: 0em 0 1em 0;
     margin: 0.5em 0 1em 0;
     display: inline-block;
     width: 100%;
     &.employer {
          background: white;
          border-bottom: 5px solid $employer;
          p {
               strong {
                    color: black;
                    font-weight: bold;
               }
          }
     }
     p {
          float: left;
          display: inline-block;
          width: auto;
          margin: 0.65em 0 0 0;
     }
     select {
          width: auto;
          float: right;
     }
}

#fat-postcode {
     .cta-fat__action {
          display: inline-block;
          align-items: center;
          justify-content: center;
          @include media-query($from: tablet) {
               display: flex;
          }
          .form-group {
               margin: 0 0 1.5em 0;
               width: 100%;
               display: inline-block;
               @include media-query($from: tablet) {
                    width: auto;
                    margin: 0 2em 0 0;
               }
               &.radios {
                    margin: 0 0 2em 0;
                    @include media-query($from: tablet) {
                         margin: 0 2em 0 0;
                    }
                    .radios__item {
                         clear: none;
                         float: left;
                         // min-height: 51px;
                    }
               }
               &.button-container {
                    margin: 0;
                    #link-location-search {
                         position: relative;
                         @include media-query($from: tablet) {
                         }
                         // margin-top: 1.75em;
                    }
               }
               input[type="search"] {
                    margin: 0;
               }
          }
     }
}

#fat-postcode-top {
     .cta-fat__action {
          .form-group {
               margin: 0 0 0.75em 0;
               width: 100%;
               display: inline-block;
               &.radios {
                    margin: 0 0 1.5em 0;
               }
               &.button-container {
                    margin: 1em 0 0 0;
               }
               .radios__item {
                    clear: none;
                    float: left;
               }
          }
     }
}
