<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 2 - Find an apprenticeship</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template apprentice-page" data-page-id="3">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-apprentice.html'%}
         {% include '../components/hero-heading/_app-2-hero-heading.html' %}

        <main id="main-content" class="main-content page-app-2 apprentice">

             <div id="text-container" class="grid-row">
                <div class="grid-column-two-thirds">

                    <div class="page">

                         <h2 class="heading-l no-top-margin"> or search Apprenticeships by your interests</h2>

                         <p>
                              If you’re not entirely sure where to start looking for an apprenticeship - perhaps take a look
                              at the interests pages and see if any of the organisations or areas of interest are appealing to you.
                         </p>

                         <!-- <p>
                              Add your postcode then select your area of interest...
                         </p>

                         <input type="search" id="faa-search-interest" q="googlesearch" placeholder="Enter your Location or postcode..."> -->

                         <div class="interests-container">

                              <!-- ================ ROW 1 - START ================ -->
                              <div class="row">

                                   <a href="/campaign/interests/1-agriculture-environment-animal-care" class="item agriculture" data-faa-interest="agriculture">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Agriculture, environment and animal care</h3>
                                             <div class="border"></div>
                                             <p>0 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                                   <a href="/campaign/interests/2-business-administration" class="item business" data-faa-interest="business">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Business and administration</h3>
                                             <div class="border"></div>
                                             <p>39 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                              </div>
                              <!-- ================ ROW 1 - END ================ -->

                              <!-- ================ ROW 2 - START ================ -->
                              <div class="row">

                                   <a href="/campaign/interests/3-care-services" class="item care-services" data-faa-interest="care-services">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Care services</h3>
                                             <div class="border"></div>
                                             <p>8 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                                   <a href="/campaign/interests/4-catering-hospitality" class="item catering-hospitality" data-faa-interest="catering-hospitality">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Catering and hospitality</h3>
                                             <div class="border"></div>
                                             <p>26 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                              </div>
                              <!-- ================ ROW 2 - END ================ -->

                              <!-- ================ ROW 3 - START ================ -->
                              <div class="row">

                                   <a href="/campaign/interests/5-construction" class="item construction" data-faa-interest="construction">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Construction</h3>
                                             <div class="border"></div>
                                             <p>7 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                                   <a href="/campaign/interests/6-creative-design" class="item creative" data-faa-interest="creative">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Creative and design</h3>
                                             <div class="border"></div>
                                             <p>1 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                              </div>
                              <!-- ================ ROW 3 - END ================ -->

                              <!-- ================ ROW 4 - START ================ -->
                              <div class="row">

                                   <a href="/campaign/interests/7-digital" class="item digital" data-faa-interest="digital">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Digital</h3>
                                             <div class="border"></div>
                                             <p>27 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                                   <a href="/campaign/interests/8-education-childcare" class="item education" data-faa-interest="education">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Education and childcare</h3>
                                             <div class="border"></div>
                                             <p>0 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                              </div>
                              <!-- ================ ROW 4 - END ================ -->

                              <!-- ================ ROW 5 - START ================ -->
                              <div class="row">

                                   <a href="/campaign/interests/9-engineering-manufacturing" class="item engineering" data-faa-interest="engineering">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Engineering and manufacturing</h3>
                                             <div class="border"></div>
                                             <p>20 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                                   <a href="/campaign/interests/10-hair-beauty" class="item hair" data-faa-interest="hair">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Hair and beauty</h3>
                                             <div class="border"></div>
                                             <p>14 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                              </div>
                              <!-- ================ ROW 5 - END ================ -->

                              <!-- ================ ROW 6 - START ================ -->
                              <div class="row">

                                   <a href="/campaign/interests/11-health-science" class="item health" data-faa-interest="health">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Health and science</h3>
                                             <div class="border"></div>
                                             <p>31 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                                   <a href="/campaign/interests/12-legal-finance-accounting" class="item legal" data-faa-interest="legal">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Legal, finance and accounting</h3>
                                             <div class="border"></div>
                                             <p>9 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                              </div>
                              <!-- ================ ROW 6 - END ================ -->

                              <!-- ================ ROW 7 - START ================ -->
                              <div class="row">

                                   <a href="/campaign/interests/13-protective-services" class="item protective" data-faa-interest="protective">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Protective services</h3>
                                             <div class="border"></div>
                                             <p>0 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                                   <a href="/campaign/interests/14-sales-marketing-procurement" class="item sales" data-faa-interest="sales">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Sales, marketing and procurement</h3>
                                             <div class="border"></div>
                                             <p>62 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                              </div>
                              <!-- ================ ROW 7 - END ================ -->

                              <!-- ================ ROW 8 - START ================ -->
                              <div class="row">

                                   <a href="/campaign/interests/15-transport-logistics" class="item transport" data-faa-interest="transport">
                                        <div class="content-wrapper">
                                             <h3 class="heading-m">Transport and logistics</h3>
                                             <div class="border"></div>
                                             <p>14 apprenticeships in England, start looking</p>
                                        </div>
                                        <div class="gradient"></div>
                                   </a>

                              </div>
                              <!-- ================ ROW 8 - END ================ -->

                         </div>

                         <ul class="pagination pagination--apprentice">
                              <li class="pagination__list-item">
                                   <a href="/campaign/apprentice/1-what-is-an-apprenticeship" class="pagination__link pagination__link--previous">What is an apprenticeship?</a>
                              </li>
                              <li class="pagination__list-item">
                                   <a class="pagination__link pagination__link--next" href="/campaign/apprentice/3-application">Application</a>
                              </li>
                         </ul>

                    </div>

                </div>
                <div class="grid-column-one-third">
                    <div class="sidebar siderbar-employer">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/employer/employer-assessment-qualification.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS TO BECOME AN APPRENTICE</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar.html'%}
                        </div>
                        {% include '../components/sideBar/_register.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

        </main>

    {% include '../components/footer/_footer-apprentice.html'%}

    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
      <script src="/dist/js/das-all.js"></script>
        <script>
          window.DASFrontend.initAll()
        </script> -->

        {% include '../components/footer/_scripts.html'%}


</body>

</html>
