<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>FIRE IT UP! - 1 - What is an apprenticeship?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/campaign/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/campaign/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/dist/campaign/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/campaign/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/dist/campaign/images/apple-touch-icon.png">

  <!--[if !IE 8]><!-->

  <link href="/dist/campaign/css/screen.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css">

  <!--<![endif]-->

  <meta property="og:image" content="/dist/campaign/images/opengraph.png">
</head>

<body class="page-template apprentice-page" data-page-id="1">

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

         {% include '../components/header/_header-apprentice.html'%}
          {% include '../components/hero-heading/_app-a-hero-heading.html' %}

        <main id="main-content" class="main-content apprentice">

            <div id="text-container" class="grid-row">

               <!-- //////////////////////////////  CONTENT - START ////////////////////////////// -->
               <div class="grid-column-two-thirds">

                    <div class="page">

                         <h2 class="heading-l no-top-margin" id="heading1">
                              What are my future prospects once I’ve successfully qualified?
                         </h2>

                         <p>
                             Once you’ve successfully finished, you have plenty of choices. You could apply for another apprenticeship or
                             find a career that uses your new skills.
                         </p>
                         <p>
                             Your apprenticeship level will depend on your current qualifications.
                             This means you can start an apprenticeship at the right level for you, to
                             put you on the right path for success and beyond.
                         </p>

                         <p>Some of the top reasons for becoming an apprentice:</p>

                         <ul class="list list--bullet list--bullet-apprentice">
                             <li>earn while you learn: have a competitive salary paid</li>
                             <li>your training comes free</li>
                             <li>choose from hundreds of different apprentice jobs in thousands of organisations</li>
                             <li>get high quality training and hands-on experience</li>
                             <li>develop the skills that are transferrable to a range of exciting careers</li>
                             <li>continue to study for qualifications - up to and including a degree, if you wish</li>
                             <li>doesn't matter what age you are or background, an apprenticeship will give you the skills you need to succeed</li>
                         </ul>

                         <p>
                              And lastly:
                         </p>

                         <p>
                          "90% of apprentices stay on in their place of work after completing their apprenticeship" (Source: The Nursery: Research and planning)
                         </p>

                         <h2 class="heading-m" id="heading2">How much can you earn?</h2>

                         <p>
                             Your salary will depend upon the industry, location and type of apprenticeship you choose.
                         </p>

                         <p>
                             Many employers choose to pay more than the apprenticeship minimum wage of £3.70 per hour if you’re aged 16 to 18, rising to £3.90 per hour from April 2019.
                         </p>

                         <p>
                             If you’re aged 19 or over and have completed the first year of your apprenticeship,
                             you are entitled to the <a href="https://www.gov.uk/national-minimum-wage-rates" target="_blank" rel="external" class="external">minimum wage</a> for your age.
                         </p>

                         <p>
                             Remember, if you complete a higher or degree level apprenticeship,
                             your training costs will be paid for and you’ll be earning for the duration of your apprenticeship.
                         </p>

                         <h2 class="heading-m" id="heading3">What will my apprenticeship cost me?</h2>
                         <p>
                             When you become an apprentice, you’ll need to cover the cost of your day-to-day expenses,
                             such as lunch and travel.
                        </p>

                         <p>
                             If you’re a care leaver aged 16-24, you’ll receive a £1,000 bursary payment to support you in the first year of your
                              apprenticeship.
                         </p>

                         <ul class="pagination pagination--apprentice">
                              <li class="pagination__list-item pagination__list-item--previous">
                              </li>
                              <li class="pagination__list-item pagination__list-item--next">
                                   <a href="/campaign/apprentice/1-what-is-an-apprenticeship" class="pagination__link pagination__link--next">
                                        What is an apprenticeship?
                                   </a>
                              </li>
                         </ul>

                      </div>

               </div>
               <!-- //////////////////////////////  CONTENT - START ////////////////////////////// -->

                <div class="grid-column-one-third">
                    <div class="sidebar">
                        <div class="sidebar__hero">
                             <img src="/dist/campaign/images/images/content-pages/597x724/apprentices/apprentice-what-are-the-benefits.jpg" class="sidebar__hero-image">
                        </div>
                        <div class="trimmer">
                            <div class="sidebar__header">
                                <h3 class="heading-s sidebar__heading">WHAT ARE THE STEPS TO BECOME AN APPRENTICE</h3>
                            </div>
                        </div>
                        <div class="sidebar__content">
                            {% include '../components/sideBar/_sideBar.html'%}
                        </div>
                        {% include '../components/sideBar/_register.html'%}
                        <div class="anchor-wrapper">
                             <a href="#" id="back-to-top"><span></span>Back to the top</a>
                        </div>
                    </div>

                </div>
            </div>

            {% include '../components/faa-fat/_faa-link-block.html'%}

        </main>


    {% include '../components/footer/_footer-apprentice.html'%}

    </div>

     <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="/dist/campaign/js/app.min.js"></script>
     <script src="/dist/js/das-all.js"></script>
     <script>
          window.DASFrontend.initAll()
     </script> -->

     {% include '../components/footer/_scripts.html'%}


</body>

</html>
